In [1]:
import numpy as np
import pandas as pd
import math
from scipy.special import factorial
import random
import warnings
warnings.filterwarnings("ignore")
random.seed(42)

dataframes_list = []
df = pd.read_excel('Project_Customer_Demand.xlsx')
df1 = pd.read_excel('Project_Customer_Demand.xlsx','Sample')
for j in range(1,3,1):
    df_newsample = df.copy(deep=True)
    for i in range(2,26,1):
        df_newsample['Unnamed: 1'].iloc[i] = random.choice(np.random.poisson(df['Unnamed: 1'].iloc[i],10))
        df_newsample['Unnamed: 2'].iloc[i] = random.choice(np.random.poisson(df['Unnamed: 2'].iloc[i],10))
    dataframes_list.append(df_newsample)

dataframes_list.insert(0,df)
dataframes_list.insert(1,df1)
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df.drop(index=0,inplace=True)
    temp_df.columns = temp_df.iloc[0]
    temp_df.drop(index=1,inplace=True)
    temp_df.reset_index(drop=True)
    temp_df.loc[-1] = [0,0,0]
    temp_df = temp_df.sort_index().reset_index(drop=True)
    temp_df.loc[-1] = [0,0,0]
    temp_df = temp_df.sort_index().reset_index(drop=True)
    temp_df.loc[-1] = [0,0,0]
    temp_df = temp_df.sort_index().reset_index(drop=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30 #Intial inventory at A
    temp_df['Avail B ending'][0:3] = 30 #Intial inventory at B
    temp_df['Mov a2b'] = 0 #Inventory moved from A to B
    temp_df['Mov b2a'] = 0 #Inventory moved from A to B
    temp_df['cust a'] = 0 #Customers satisfied at Station A
    temp_df['cust b'] = 0 #Customers satisfied at Station B
    temp_df['Transit A'] = 0 #Vehicles moving from A to B
    temp_df['Transit B'] = 0 #Vehicles moving from B to A
    temp_df['veh in sys'] = 0 #Total vehicles in the system
    temp_df = temp_df.rename(columns={np.nan:'Hour'})

    dataframes_list[i] = temp_df.copy(deep=True)
    
Ultab = 3 #(T+Uab) #Transit time from A to B
Ultba = 4 #(T+Uba) #Transit time from B to A
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.96
nbar_s = 1.969
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

Profit = 0

In [2]:
dataframes_list[1].iloc[3:,:]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
3,00:00:00,6,3,0,0,0,0,0,0,0,0,0,0,0
4,01:00:00,2,4,0,0,0,0,0,0,0,0,0,0,0
5,02:00:00,5,3,0,0,0,0,0,0,0,0,0,0,0
6,03:00:00,4,0,0,0,0,0,0,0,0,0,0,0,0
7,04:00:00,0,2,0,0,0,0,0,0,0,0,0,0,0
8,05:00:00,1,3,0,0,0,0,0,0,0,0,0,0,0
9,06:00:00,19,9,0,0,0,0,0,0,0,0,0,0,0
10,07:00:00,14,11,0,0,0,0,0,0,0,0,0,0,0
11,08:00:00,19,6,0,0,0,0,0,0,0,0,0,0,0
12,09:00:00,21,10,0,0,0,0,0,0,0,0,0,0,0
13,10:00:00,15,10,0,0,0,0,0,0,0,0,0,0,0
14,11:00:00,10,8,0,0,0,0,0,0,0,0,0,0,0
15,12:00:00,21,8,0,0,0,0,0,0,0,0,0,0,0
16,13:00:00,17,15,0,0,0,0,0,0,0,0,0,0,0
17,14:00:00,9,11,0,0,0,0,0,0,0,0,0,0,0
18,15:00:00,13,4,0,0,0,0,0,0,0,0,0,0,0
19,16:00:00,11,13,0,0,0,0,0,0,0,0,0,0,0
20,17:00:00,11,22,0,0,0,0,0,0,0,0,0,0,0
21,18:00:00,7,13,0,0,0,0,0,0,0,0,0,0,0
22,19:00:00,7,16,0,0,0,0,0,0,0,0,0,0,0
23,20:00:00,10,12,0,0,0,0,0,0,0,0,0,0,0
24,21:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0
25,22:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0
26,23:00:00,0,4,0,0,0,0,0,0,0,0,0,0,0

# No policy

In [4]:
for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3])
        temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2])
        temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3])  
        temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2])  
        temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
        temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
        temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
        temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
MovB = [] 
cus_sata = []
cus_satb = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    da = 0
    db = 0
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da = dataframes_list[i]['Station A to B'].sum()
    db = dataframes_list[i]['Station B to A'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_nopol = 0
Profit_nopol = sum(Profit)/len(Profit)
Pmean_nopol = 0
Pmean_nopol = Profit[0]
cusa_nopol = sum(cus_sata)/len(cus_sata)
cusb_nopol = sum(cus_satb)/len(cus_satb)
sample_nopol =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [5]:
temp = dataframes_list[1].reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending','cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'])
temp.iloc[3:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,cust a,cust b,Transit A,Transit B,veh in sys
3,00:00:00,6,3,30,24,30,27,6,3,6,3,60
4,01:00:00,2,4,24,22,27,23,2,4,8,7,60
5,02:00:00,5,3,22,17,29,26,5,3,7,10,60
6,03:00:00,4,0,20,16,28,28,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,2,4,5,60
8,05:00:00,1,3,23,22,35,32,1,3,1,5,60
9,06:00:00,19,9,22,3,32,23,19,9,20,14,60
10,07:00:00,14,11,5,0,24,13,5,11,24,23,60
11,08:00:00,19,6,3,0,32,26,3,6,8,26,60
12,09:00:00,21,10,9,0,31,21,9,10,12,27,60
13,10:00:00,15,10,11,0,24,14,11,10,20,26,60
14,11:00:00,10,8,6,0,23,15,6,8,17,28,60
15,12:00:00,21,8,10,0,26,18,10,8,16,26,60
16,13:00:00,17,15,10,0,24,9,10,15,20,31,60
17,14:00:00,9,11,8,0,19,8,8,11,18,34,60
18,15:00:00,13,4,8,0,18,14,8,4,16,30,60
19,16:00:00,11,13,15,4,22,9,11,13,19,28,60
20,17:00:00,11,22,15,4,17,0,11,17,22,34,60
21,18:00:00,7,13,8,1,11,0,7,11,18,41,60
22,19:00:00,7,16,14,7,11,0,7,11,14,39,60
23,20:00:00,10,12,24,14,7,0,10,7,17,29,60
24,21:00:00,4,5,25,21,7,2,4,5,14,23,60
25,22:00:00,4,5,32,28,12,7,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,4,4,14,60

In [6]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

In [7]:
dataframes_list[2]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,2,6,0,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,4,0,0,0,0,0,0,0,0,0,0,0
5,02:00:00,6,4,0,0,0,0,0,0,0,0,0,0,0
6,03:00:00,5,0,0,0,0,0,0,0,0,0,0,0,0
7,04:00:00,2,0,0,0,0,0,0,0,0,0,0,0,0
8,05:00:00,1,2,0,0,0,0,0,0,0,0,0,0,0
9,06:00:00,9,6,0,0,0,0,0,0,0,0,0,0,0
10,07:00:00,19,7,0,0,0,0,0,0,0,0,0,0,0
11,08:00:00,21,4,0,0,0,0,0,0,0,0,0,0,0
12,09:00:00,15,11,0,0,0,0,0,0,0,0,0,0,0
13,10:00:00,14,7,0,0,0,0,0,0,0,0,0,0,0
14,11:00:00,9,7,0,0,0,0,0,0,0,0,0,0,0
15,12:00:00,15,7,0,0,0,0,0,0,0,0,0,0,0
16,13:00:00,14,20,0,0,0,0,0,0,0,0,0,0,0
17,14:00:00,5,18,0,0,0,0,0,0,0,0,0,0,0
18,15:00:00,10,8,0,0,0,0,0,0,0,0,0,0,0
19,16:00:00,15,12,0,0,0,0,0,0,0,0,0,0,0
20,17:00:00,10,24,0,0,0,0,0,0,0,0,0,0,0
21,18:00:00,8,19,0,0,0,0,0,0,0,0,0,0,0
22,19:00:00,7,14,0,0,0,0,0,0,0,0,0,0,0
23,20:00:00,4,13,0,0,0,0,0,0,0,0,0,0,0
24,21:00:00,3,2,0,0,0,0,0,0,0,0,0,0,0
25,22:00:00,9,1,0,0,0,0,0,0,0,0,0,0,0
26,23:00:00,0,6,0,0,0,0,0,0,0,0,0,0,0

In [8]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Confidence interval - 95% and review period - 1 hour(S,T)

In [9]:

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
                                                                                                                            
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
        
    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_95_hr1 = 0
Profit_95_hr1 = sum(Profit)/len(Profit)
Pmean_95_hr1 = 0
Pmean_95_hr1 = Profit[0]
cusa_95_hr1 = sum(cus_sata)/len(cus_sata)
cusb_95_hr1 = sum(cus_satb)/len(cus_satb)
sample_95_hr1 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [10]:
sample_95_hr1

17260

In [11]:
dataframes_list[0]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,25,30,30,26,0,0,5,...,4,60,15,3.87287,16,4.0,23,24,11,10
4,01:00:00,2,3,23,25,26,23,0,0,2,...,7,60,6,2.449418,12,3.464102,11,19,6,9
5,02:00:00,4,2,19,23,28,26,0,0,4,...,9,60,12,3.464,8,2.828427,19,14,9,7
6,03:00:00,3,1,20,23,28,27,0,0,3,...,6,60,9,2.999912,4,2.0,15,8,8,5
7,04:00:00,1,2,22,23,31,29,0,0,1,...,5,60,3,1.732,8,2.828427,7,14,4,7
8,05:00:00,1,5,23,24,32,27,0,0,1,...,8,60,3,1.732,20,4.472136,7,29,4,12
9,06:00:00,17,11,7,24,28,17,0,0,17,...,18,60,51,7.141219,44,6.63325,65,58,23,19
10,07:00:00,16,9,0,9,18,9,0,0,9,...,25,60,48,6.928,36,6.0,62,48,22,17
11,08:00:00,20,7,0,5,26,19,0,0,5,...,27,60,60,7.745739,28,5.291503,76,39,26,14
12,09:00:00,18,10,0,11,28,18,0,0,11,...,26,60,54,7.348254,40,6.324555,69,53,24,18
13,10:00:00,16,8,0,9,23,15,0,0,9,...,25,60,48,6.928,32,5.656854,62,44,22,16
14,11:00:00,12,7,0,7,26,19,0,0,7,...,25,60,36,5.999824,28,5.291503,48,39,18,14
15,12:00:00,14,6,0,10,28,22,0,0,10,...,21,60,42,6.480551,24,4.898979,55,34,20,13
16,13:00:00,12,15,0,8,29,14,0,0,8,...,28,60,36,5.999824,60,7.745967,48,76,18,23
17,14:00:00,7,14,0,7,24,10,0,0,7,...,35,60,21,4.582441,56,7.483315,30,71,13,22
18,15:00:00,8,10,0,6,18,8,0,0,6,...,39,60,24,4.898836,40,6.324555,34,53,14,18
19,16:00:00,11,17,4,15,15,0,0,0,11,...,39,60,33,5.744394,68,8.246211,45,85,17,25
20,17:00:00,9,19,9,18,6,0,0,0,9,...,31,60,27,5.196,76,8.717798,38,94,15,27
21,18:00:00,9,19,10,19,11,0,0,0,9,...,32,60,27,5.196,76,8.717798,38,94,15,27
22,19:00:00,10,18,15,25,9,0,0,0,10,...,26,60,30,5.477065,72,8.485281,41,89,16,26
23,20:00:00,7,9,14,21,9,0,0,0,7,...,29,60,21,4.582441,36,6.0,30,48,13,17
24,21:00:00,3,3,22,25,10,7,0,0,3,...,21,60,9,2.999912,12,3.464102,15,19,8,9
25,22:00:00,6,4,25,31,14,10,0,0,6,...,16,60,18,4.242516,16,4.0,27,24,12,10
26,23:00:00,1,3,33,34,13,10,0,0,1,...,10,60,3,1.732,12,3.464102,7,19,4,9

In [12]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,0,0,2,4,5,60
8,05:00:00,1,3,22,23,35,32,0,0,1,3,1,5,60
9,06:00:00,19,9,3,22,32,23,0,0,19,9,20,14,60
10,07:00:00,14,11,0,5,24,13,0,0,5,11,24,23,60
11,08:00:00,19,6,0,3,32,26,0,0,3,6,8,26,60
12,09:00:00,21,10,0,9,31,21,0,0,9,10,12,27,60
13,10:00:00,15,10,0,11,24,14,0,0,11,10,20,26,60
14,11:00:00,10,8,0,6,23,15,0,0,6,8,17,28,60
15,12:00:00,21,8,0,10,26,18,0,0,10,8,16,26,60
16,13:00:00,17,15,0,10,24,9,0,0,10,15,20,31,60
17,14:00:00,9,11,0,8,19,8,0,0,8,11,18,34,60
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [13]:
merge = pd.merge(dataframes_list[1],df_mean[['Hour','Sab','Sba']])
merge = merge.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Sab', 'Sba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'
                                                      ])                                                 
merge.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Sab,Sba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,6,3,30,24,30,27,23,24,0,0,6,3,6,3,60
10,01:00:00,2,4,24,22,27,23,11,19,0,0,2,4,8,7,60
11,02:00:00,5,3,22,17,29,26,19,14,0,0,5,3,7,10,60
12,03:00:00,4,0,20,16,28,28,15,8,0,0,4,0,9,7,60
13,04:00:00,0,2,20,20,33,31,7,14,0,0,0,2,4,5,60
14,05:00:00,1,3,23,22,35,32,7,29,0,0,1,3,1,5,60
15,06:00:00,19,9,22,3,32,23,65,58,0,0,19,9,20,14,60
16,07:00:00,14,11,5,0,24,13,62,48,0,0,5,11,24,23,60
17,08:00:00,19,6,3,0,32,26,76,39,0,0,3,6,8,26,60
18,09:00:00,21,10,9,0,31,21,69,53,0,0,9,10,12,27,60
19,10:00:00,15,10,11,0,24,14,62,44,0,0,11,10,20,26,60
20,11:00:00,10,8,6,0,23,15,48,39,0,0,6,8,17,28,60
21,12:00:00,21,8,10,0,26,18,55,34,0,0,10,8,16,26,60
22,13:00:00,17,15,10,0,24,9,48,76,0,0,10,15,20,31,60
23,14:00:00,9,11,8,0,19,8,30,71,0,0,8,11,18,34,60
24,15:00:00,13,4,8,0,18,14,34,53,0,0,8,4,16,30,60
25,16:00:00,11,13,15,4,22,9,45,85,0,0,11,13,19,28,60
26,17:00:00,11,22,15,4,17,0,38,94,0,0,11,17,22,34,60
27,18:00:00,7,13,8,1,11,0,38,94,0,0,7,11,18,41,60
28,19:00:00,7,16,14,7,11,0,41,89,0,0,7,11,14,39,60
29,20:00:00,10,12,24,14,7,0,30,48,0,0,10,7,17,29,60
30,21:00:00,4,5,25,21,7,2,15,19,0,0,4,5,14,23,60
31,22:00:00,4,5,32,28,12,7,27,24,0,0,4,5,8,17,60
32,23:00:00,0,4,35,35,11,7,7,19,0,0,0,4,4,14,60

In [14]:
merge = pd.merge(dataframes_list[2],df_mean[['Hour','Sab','Sba']])
merge = merge.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Sab', 'Sba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'
                                                      ])                                                 
merge.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Sab,Sba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,2,6,30,28,30,24,23,24,0,0,2,6,2,6,60
10,01:00:00,0,4,28,28,24,20,11,19,0,0,0,4,2,10,60
11,02:00:00,6,4,28,22,22,18,19,14,0,0,6,4,6,14,60
12,03:00:00,5,0,28,23,18,18,15,8,0,0,5,0,11,8,60
13,04:00:00,2,0,27,25,24,24,7,14,0,0,2,0,7,4,60
14,05:00:00,1,2,29,28,29,27,7,29,0,0,1,2,3,2,60
15,06:00:00,9,6,28,19,29,23,65,58,0,0,9,6,10,8,60
16,07:00:00,19,7,19,0,24,17,62,48,0,0,19,7,28,15,60
17,08:00:00,21,4,2,0,26,22,76,39,0,0,2,4,21,17,60
18,09:00:00,15,11,6,0,41,30,69,53,0,0,6,11,8,22,60
19,10:00:00,14,7,7,0,32,25,62,44,0,0,7,7,13,22,60
20,11:00:00,9,7,4,0,31,24,48,39,0,0,4,7,11,25,60
21,12:00:00,15,7,11,0,31,24,55,34,0,0,11,7,15,21,60
22,13:00:00,14,20,7,0,28,8,48,76,0,0,7,20,18,34,60
23,14:00:00,5,18,7,2,19,1,30,71,0,0,5,18,12,45,60
24,15:00:00,10,8,9,0,8,0,34,53,0,0,9,8,14,46,60
25,16:00:00,15,12,20,5,5,0,45,85,0,0,15,5,24,31,60
26,17:00:00,10,24,23,13,9,0,38,94,0,0,10,9,25,22,60
27,18:00:00,8,19,21,13,15,0,38,94,0,0,8,15,18,29,60
28,19:00:00,7,14,18,11,10,0,41,89,0,0,7,10,15,34,60
29,20:00:00,4,13,20,16,8,0,30,48,0,0,4,8,11,33,60
30,21:00:00,3,2,31,28,7,5,15,19,0,0,3,2,7,20,60
31,22:00:00,9,1,38,29,9,8,27,24,0,0,9,1,12,11,60
32,23:00:00,0,6,37,37,11,5,7,19,0,0,0,6,9,9,60

In [15]:
sample_95_hr1

17260

In [17]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Average policy 95%confidence and review period - 1 hour

In [18]:

Ultab = 3 #(T+Uab)
Ultba = 4 #(T+Uba)
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.96
nbar_s = 1.969
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

Profit = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
                                                                                                                            
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)
    
    
print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg95_hr1 = 0
Profit_avg95_hr1 = sum(Profit)/len(Profit)
Pmean_avg95_hr1 = 0
Pmean_avg95_hr1 = Profit[0]
cusa_avg95_hr1 = sum(cus_sata)/len(cus_sata)
cusb_avg95_hr1 = sum(cus_satb)/len(cus_satb)
sample_avg95_hr1 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [19]:
dataframes_list[0].columns

Index(['Hour', 'Station A to B', 'Station B to A', 'Avail A ending',
       'Avail A starting', 'Avail B starting', 'Avail B ending', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys',
       'A2B U_DLTR', 'A2B Sig_DLTR', 'B2A U_DLTR', 'B2A Sig_DLTR', 'Sab',
       'Sba', 'Avg inv ab', 'Avg inv ba'],
      dtype='object', name=1)

In [20]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,0,0,2,4,5,60
8,05:00:00,1,3,22,23,35,32,0,0,1,3,1,5,60
9,06:00:00,19,9,3,22,32,23,0,0,19,9,20,14,60
10,07:00:00,14,11,0,5,24,13,0,0,5,11,24,23,60
11,08:00:00,19,6,0,3,32,26,0,0,3,6,8,26,60
12,09:00:00,21,10,0,9,31,21,0,0,9,10,12,27,60
13,10:00:00,15,10,0,11,24,14,0,0,11,10,20,26,60
14,11:00:00,10,8,0,6,23,15,0,0,6,8,17,28,60
15,12:00:00,21,8,0,10,26,18,0,0,10,8,16,26,60
16,13:00:00,17,15,0,10,24,9,0,0,10,15,20,31,60
17,14:00:00,9,11,0,8,19,8,0,0,8,11,18,34,60
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [21]:
dataframes_list[0]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,25,30,30,26,0,0,5,...,4,60,15,3.87287,16,4.0,23,24,11,10
4,01:00:00,2,3,23,25,26,23,0,0,2,...,7,60,6,2.449418,12,3.464102,11,19,6,9
5,02:00:00,4,2,19,23,28,26,0,0,4,...,9,60,12,3.464,8,2.828427,19,14,9,7
6,03:00:00,3,1,20,23,28,27,0,0,3,...,6,60,9,2.999912,4,2.0,15,8,8,5
7,04:00:00,1,2,22,23,31,29,0,0,1,...,5,60,3,1.732,8,2.828427,7,14,4,7
8,05:00:00,1,5,23,24,32,27,0,0,1,...,8,60,3,1.732,20,4.472136,7,29,4,12
9,06:00:00,17,11,7,24,28,17,0,0,17,...,18,60,51,7.141219,44,6.63325,65,58,23,19
10,07:00:00,16,9,0,9,18,9,0,0,9,...,25,60,48,6.928,36,6.0,62,48,22,17
11,08:00:00,20,7,0,5,26,19,0,0,5,...,27,60,60,7.745739,28,5.291503,76,39,26,14
12,09:00:00,18,10,0,11,28,18,0,0,11,...,26,60,54,7.348254,40,6.324555,69,53,24,18
13,10:00:00,16,8,0,9,23,15,0,0,9,...,25,60,48,6.928,32,5.656854,62,44,22,16
14,11:00:00,12,7,0,7,26,19,0,0,7,...,25,60,36,5.999824,28,5.291503,48,39,18,14
15,12:00:00,14,6,0,10,28,22,0,0,10,...,21,60,42,6.480551,24,4.898979,55,34,20,13
16,13:00:00,12,15,0,8,29,14,0,0,8,...,28,60,36,5.999824,60,7.745967,48,76,18,23
17,14:00:00,7,14,0,7,24,10,0,0,7,...,35,60,21,4.582441,56,7.483315,30,71,13,22
18,15:00:00,8,10,0,6,18,8,0,0,6,...,39,60,24,4.898836,40,6.324555,34,53,14,18
19,16:00:00,11,17,4,15,15,0,0,0,11,...,39,60,33,5.744394,68,8.246211,45,85,17,25
20,17:00:00,9,19,9,18,6,0,0,0,9,...,31,60,27,5.196,76,8.717798,38,94,15,27
21,18:00:00,9,19,10,19,11,0,0,0,9,...,32,60,27,5.196,76,8.717798,38,94,15,27
22,19:00:00,10,18,15,25,9,0,0,0,10,...,26,60,30,5.477065,72,8.485281,41,89,16,26
23,20:00:00,7,9,14,21,9,0,0,0,7,...,29,60,21,4.582441,36,6.0,30,48,13,17
24,21:00:00,3,3,22,25,10,7,0,0,3,...,21,60,9,2.999912,12,3.464102,15,19,8,9
25,22:00:00,6,4,25,31,14,10,0,0,6,...,16,60,18,4.242516,16,4.0,27,24,12,10
26,23:00:00,1,3,33,34,13,10,0,0,1,...,10,60,3,1.732,12,3.464102,7,19,4,9

In [22]:
merge2 = pd.merge(dataframes_list[1],df_mean[['Hour','Avg inv ab','Avg inv ba']])
merge2 = merge2.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Avg inv ab', 'Avg inv ba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'
                                                      ])                                                 
merge2.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Avg inv ab,Avg inv ba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,6,3,30,24,30,27,11,10,0,0,6,3,6,3,60
10,01:00:00,2,4,24,22,27,23,6,9,0,0,2,4,8,7,60
11,02:00:00,5,3,22,17,29,26,9,7,0,0,5,3,7,10,60
12,03:00:00,4,0,20,16,28,28,8,5,0,0,4,0,9,7,60
13,04:00:00,0,2,20,20,33,31,4,7,0,0,0,2,4,5,60
14,05:00:00,1,3,23,22,35,32,4,12,0,0,1,3,1,5,60
15,06:00:00,19,9,22,3,32,23,23,19,0,0,19,9,20,14,60
16,07:00:00,14,11,5,0,24,13,22,17,0,0,5,11,24,23,60
17,08:00:00,19,6,3,0,32,26,26,14,0,0,3,6,8,26,60
18,09:00:00,21,10,9,0,31,21,24,18,0,0,9,10,12,27,60
19,10:00:00,15,10,11,0,24,14,22,16,0,0,11,10,20,26,60
20,11:00:00,10,8,6,0,23,15,18,14,0,0,6,8,17,28,60
21,12:00:00,21,8,10,0,26,18,20,13,0,0,10,8,16,26,60
22,13:00:00,17,15,10,0,24,9,18,23,0,0,10,15,20,31,60
23,14:00:00,9,11,8,0,19,8,13,22,0,0,8,11,18,34,60
24,15:00:00,13,4,8,0,18,14,14,18,0,0,8,4,16,30,60
25,16:00:00,11,13,15,4,22,9,17,25,0,0,11,13,19,28,60
26,17:00:00,11,22,15,4,17,0,15,27,0,0,11,17,22,34,60
27,18:00:00,7,13,8,1,11,0,15,27,0,0,7,11,18,41,60
28,19:00:00,7,16,14,7,11,0,16,26,0,0,7,11,14,39,60
29,20:00:00,10,12,24,14,7,0,13,17,0,0,10,7,17,29,60
30,21:00:00,4,5,25,21,7,2,8,9,0,0,4,5,14,23,60
31,22:00:00,4,5,32,28,12,7,12,10,0,0,4,5,8,17,60
32,23:00:00,0,4,35,35,11,7,4,9,0,0,0,4,4,14,60

In [23]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Confidence interval - 90% and review period - 2 hours (S,T) policy#

In [24]:

    
Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            temp_df['Mov b2a'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            temp_df['Mov a2b'].iloc[i]  = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_90_hr2 = 0
Profit_90_hr2 = sum(Profit)/len(Profit)
Pmean_90_hr2 = 0
Pmean_90_hr2 = Profit[0]
cusa_90_hr2 = sum(cus_sata)/len(cus_sata)
cusb_90_hr2 = sum(cus_satb)/len(cus_satb)
sample_90_hr2 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [25]:
dataframes_list[0]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,25,30,30,26,0,0,5,...,4,60,20,4.472136,20,4.472,28,28,10,10
4,01:00:00,2,3,23,25,26,23,0,0,2,...,7,60,8,2.828427,15,3.872866,13,22,6,8
5,02:00:00,4,2,19,23,28,26,0,0,4,...,9,60,16,4.0,10,3.162182,23,16,9,7
6,03:00:00,3,1,20,23,28,27,0,0,3,...,6,60,12,3.464102,5,2.236,18,9,8,5
7,04:00:00,1,2,22,23,31,29,0,0,1,...,5,60,4,2.0,10,3.162182,8,16,4,7
8,05:00:00,1,5,23,24,32,27,0,0,1,...,8,60,4,2.0,25,4.999848,8,34,4,11
9,06:00:00,17,11,7,24,28,17,0,0,17,...,18,60,68,8.246211,55,7.415973,82,68,23,18
10,07:00:00,16,9,0,9,18,9,0,0,9,...,25,60,64,8.0,45,6.708,78,57,22,16
11,08:00:00,20,7,0,5,26,19,0,0,5,...,27,60,80,8.944272,35,5.9159,95,45,25,14
12,09:00:00,18,10,0,11,28,18,0,0,11,...,26,60,72,8.485281,50,7.070853,86,62,24,17
13,10:00:00,16,8,0,9,23,15,0,0,9,...,25,60,64,8.0,40,6.324363,78,51,22,15
14,11:00:00,12,7,0,7,26,19,0,0,7,...,25,60,48,6.928203,35,5.9159,60,45,18,14
15,12:00:00,14,6,0,10,28,22,0,0,10,...,21,60,56,7.483315,30,5.477059,69,39,20,13
16,13:00:00,12,15,0,8,29,14,0,0,8,...,28,60,48,6.928203,75,8.659991,60,90,18,22
17,14:00:00,7,14,0,7,24,10,0,0,7,...,35,60,28,5.291503,70,8.366346,37,84,13,21
18,15:00:00,8,10,0,6,18,8,0,0,6,...,39,60,32,5.656854,50,7.070853,42,62,14,17
19,16:00:00,11,17,4,15,15,0,0,0,11,...,39,60,44,6.63325,85,9.219264,55,101,17,24
20,17:00:00,9,19,9,18,6,0,0,0,9,...,31,60,36,6.0,95,9.746498,46,111,15,26
21,18:00:00,9,19,10,19,11,0,0,0,9,...,32,60,36,6.0,95,9.746498,46,111,15,26
22,19:00:00,10,18,15,25,9,0,0,0,10,...,26,60,40,6.324555,90,9.486545,51,106,16,25
23,20:00:00,7,9,14,21,9,0,0,0,7,...,29,60,28,5.291503,45,6.708,37,57,13,16
24,21:00:00,3,3,22,25,10,7,0,0,3,...,21,60,12,3.464102,15,3.872866,18,22,8,8
25,22:00:00,6,4,25,31,14,10,0,0,6,...,16,60,24,4.898979,20,4.472,33,28,12,10
26,23:00:00,1,3,33,34,13,10,0,0,1,...,10,60,4,2.0,15,3.872866,8,22,4,8

In [26]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,0,0,2,4,5,60
8,05:00:00,1,3,22,23,35,32,0,0,1,3,1,5,60
9,06:00:00,19,9,3,22,32,23,0,0,19,9,20,14,60
10,07:00:00,14,11,0,5,24,13,0,0,5,11,24,23,60
11,08:00:00,19,6,0,3,32,26,0,0,3,6,8,26,60
12,09:00:00,21,10,0,9,31,21,0,0,9,10,12,27,60
13,10:00:00,15,10,0,11,24,14,0,0,11,10,20,26,60
14,11:00:00,10,8,0,6,23,15,0,0,6,8,17,28,60
15,12:00:00,21,8,0,10,26,18,0,0,10,8,16,26,60
16,13:00:00,17,15,0,10,24,9,0,0,10,15,20,31,60
17,14:00:00,9,11,0,8,19,8,0,0,8,11,18,34,60
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [27]:
merge = pd.merge(dataframes_list[2],df_mean[['Hour','Sab','Sba']])
merge = merge.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Sab', 'Sba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'
                                                      ])                                                 
merge.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Sab,Sba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,2,6,30,28,30,24,28,28,0,0,2,6,2,6,60
10,01:00:00,0,4,28,28,24,20,13,22,0,0,0,4,2,10,60
11,02:00:00,6,4,28,22,22,18,23,16,0,0,6,4,6,14,60
12,03:00:00,5,0,28,23,18,18,18,9,0,0,5,0,11,8,60
13,04:00:00,2,0,27,25,24,24,8,16,0,0,2,0,7,4,60
14,05:00:00,1,2,29,28,29,27,8,34,0,0,1,2,3,2,60
15,06:00:00,9,6,28,19,29,23,82,68,0,0,9,6,10,8,60
16,07:00:00,19,7,19,0,24,17,78,57,0,0,19,7,28,15,60
17,08:00:00,21,4,2,0,26,22,95,45,0,0,2,4,21,17,60
18,09:00:00,15,11,6,0,41,30,86,62,0,0,6,11,8,22,60
19,10:00:00,14,7,7,0,32,25,78,51,0,0,7,7,13,22,60
20,11:00:00,9,7,4,0,31,24,60,45,0,0,4,7,11,25,60
21,12:00:00,15,7,11,0,31,24,69,39,0,0,11,7,15,21,60
22,13:00:00,14,20,7,0,28,8,60,90,0,0,7,20,18,34,60
23,14:00:00,5,18,7,2,19,1,37,84,0,0,5,18,12,45,60
24,15:00:00,10,8,9,0,8,0,42,62,0,0,9,8,14,46,60
25,16:00:00,15,12,20,5,5,0,55,101,0,0,15,5,24,31,60
26,17:00:00,10,24,23,13,9,0,46,111,0,0,10,9,25,22,60
27,18:00:00,8,19,21,13,15,0,46,111,0,0,8,15,18,29,60
28,19:00:00,7,14,18,11,10,0,51,106,0,0,7,10,15,34,60
29,20:00:00,4,13,20,16,8,0,37,57,0,0,4,8,11,33,60
30,21:00:00,3,2,31,28,7,5,18,22,0,0,3,2,7,20,60
31,22:00:00,9,1,38,29,9,8,33,28,0,0,9,1,12,11,60
32,23:00:00,0,6,37,37,11,5,8,22,0,0,0,6,9,9,60

In [28]:
dataframes_list[2]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,2,6,28,30,30,24,0,0,2,6,2,6,60
4,01:00:00,0,4,28,28,24,20,0,0,0,4,2,10,60
5,02:00:00,6,4,22,28,22,18,0,0,6,4,6,14,60
6,03:00:00,5,0,23,28,18,18,0,0,5,0,11,8,60
7,04:00:00,2,0,25,27,24,24,0,0,2,0,7,4,60
8,05:00:00,1,2,28,29,29,27,0,0,1,2,3,2,60
9,06:00:00,9,6,19,28,29,23,0,0,9,6,10,8,60
10,07:00:00,19,7,0,19,24,17,0,0,19,7,28,15,60
11,08:00:00,21,4,0,2,26,22,0,0,2,4,21,17,60
12,09:00:00,15,11,0,6,41,30,0,0,6,11,8,22,60
13,10:00:00,14,7,0,7,32,25,0,0,7,7,13,22,60
14,11:00:00,9,7,0,4,31,24,0,0,4,7,11,25,60
15,12:00:00,15,7,0,11,31,24,0,0,11,7,15,21,60
16,13:00:00,14,20,0,7,28,8,0,0,7,20,18,34,60
17,14:00:00,5,18,2,7,19,1,0,0,5,18,12,45,60
18,15:00:00,10,8,0,9,8,0,0,0,9,8,14,46,60
19,16:00:00,15,12,5,20,5,0,0,0,15,5,24,31,60
20,17:00:00,10,24,13,23,9,0,0,0,10,9,25,22,60
21,18:00:00,8,19,13,21,15,0,0,0,8,15,18,29,60
22,19:00:00,7,14,11,18,10,0,0,0,7,10,15,34,60
23,20:00:00,4,13,16,20,8,0,0,0,4,8,11,33,60
24,21:00:00,3,2,28,31,7,5,0,0,3,2,7,20,60
25,22:00:00,9,1,29,38,9,8,0,0,9,1,12,11,60
26,23:00:00,0,6,37,37,11,5,0,0,0,6,9,9,60

In [29]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Average policy 90%confidence and review period - 2 hour

In [30]:

Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                                 
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg90_hr2 = 0
Profit_avg90_hr2 = sum(Profit)/len(Profit)
Pmean_avg90_hr2 = 0
Pmean_avg90_hr2 = Profit[0]
cusa_avg90_hr2 = sum(cus_sata)/len(cus_sata)
cusb_avg90_hr2 = sum(cus_satb)/len(cus_satb)
sample_avg90_hr2 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

# Confidence interval - 90% and review period - 1 hour (S,T) policy

In [31]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

In [32]:
dataframes_list[0]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,0,0,0,0,0,0,0,...,0,0,20,4.472136,20,4.472,28,28,10,10
4,01:00:00,2,3,0,0,0,0,0,0,0,...,0,0,8,2.828427,15,3.872866,13,22,6,8
5,02:00:00,4,2,0,0,0,0,0,0,0,...,0,0,16,4.0,10,3.162182,23,16,9,7
6,03:00:00,3,1,0,0,0,0,0,0,0,...,0,0,12,3.464102,5,2.236,18,9,8,5
7,04:00:00,1,2,0,0,0,0,0,0,0,...,0,0,4,2.0,10,3.162182,8,16,4,7
8,05:00:00,1,5,0,0,0,0,0,0,0,...,0,0,4,2.0,25,4.999848,8,34,4,11
9,06:00:00,17,11,0,0,0,0,0,0,0,...,0,0,68,8.246211,55,7.415973,82,68,23,18
10,07:00:00,16,9,0,0,0,0,0,0,0,...,0,0,64,8.0,45,6.708,78,57,22,16
11,08:00:00,20,7,0,0,0,0,0,0,0,...,0,0,80,8.944272,35,5.9159,95,45,25,14
12,09:00:00,18,10,0,0,0,0,0,0,0,...,0,0,72,8.485281,50,7.070853,86,62,24,17
13,10:00:00,16,8,0,0,0,0,0,0,0,...,0,0,64,8.0,40,6.324363,78,51,22,15
14,11:00:00,12,7,0,0,0,0,0,0,0,...,0,0,48,6.928203,35,5.9159,60,45,18,14
15,12:00:00,14,6,0,0,0,0,0,0,0,...,0,0,56,7.483315,30,5.477059,69,39,20,13
16,13:00:00,12,15,0,0,0,0,0,0,0,...,0,0,48,6.928203,75,8.659991,60,90,18,22
17,14:00:00,7,14,0,0,0,0,0,0,0,...,0,0,28,5.291503,70,8.366346,37,84,13,21
18,15:00:00,8,10,0,0,0,0,0,0,0,...,0,0,32,5.656854,50,7.070853,42,62,14,17
19,16:00:00,11,17,0,0,0,0,0,0,0,...,0,0,44,6.63325,85,9.219264,55,101,17,24
20,17:00:00,9,19,0,0,0,0,0,0,0,...,0,0,36,6.0,95,9.746498,46,111,15,26
21,18:00:00,9,19,0,0,0,0,0,0,0,...,0,0,36,6.0,95,9.746498,46,111,15,26
22,19:00:00,10,18,0,0,0,0,0,0,0,...,0,0,40,6.324555,90,9.486545,51,106,16,25
23,20:00:00,7,9,0,0,0,0,0,0,0,...,0,0,28,5.291503,45,6.708,37,57,13,16
24,21:00:00,3,3,0,0,0,0,0,0,0,...,0,0,12,3.464102,15,3.872866,18,22,8,8
25,22:00:00,6,4,0,0,0,0,0,0,0,...,0,0,24,4.898979,20,4.472,33,28,12,10
26,23:00:00,1,3,0,0,0,0,0,0,0,...,0,0,4,2.0,15,3.872866,8,22,4,8

In [33]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,0,0,0,0,0,0,0,0,0,0,0
4,01:00:00,2,4,0,0,0,0,0,0,0,0,0,0,0
5,02:00:00,5,3,0,0,0,0,0,0,0,0,0,0,0
6,03:00:00,4,0,0,0,0,0,0,0,0,0,0,0,0
7,04:00:00,0,2,0,0,0,0,0,0,0,0,0,0,0
8,05:00:00,1,3,0,0,0,0,0,0,0,0,0,0,0
9,06:00:00,19,9,0,0,0,0,0,0,0,0,0,0,0
10,07:00:00,14,11,0,0,0,0,0,0,0,0,0,0,0
11,08:00:00,19,6,0,0,0,0,0,0,0,0,0,0,0
12,09:00:00,21,10,0,0,0,0,0,0,0,0,0,0,0
13,10:00:00,15,10,0,0,0,0,0,0,0,0,0,0,0
14,11:00:00,10,8,0,0,0,0,0,0,0,0,0,0,0
15,12:00:00,21,8,0,0,0,0,0,0,0,0,0,0,0
16,13:00:00,17,15,0,0,0,0,0,0,0,0,0,0,0
17,14:00:00,9,11,0,0,0,0,0,0,0,0,0,0,0
18,15:00:00,13,4,0,0,0,0,0,0,0,0,0,0,0
19,16:00:00,11,13,0,0,0,0,0,0,0,0,0,0,0
20,17:00:00,11,22,0,0,0,0,0,0,0,0,0,0,0
21,18:00:00,7,13,0,0,0,0,0,0,0,0,0,0,0
22,19:00:00,7,16,0,0,0,0,0,0,0,0,0,0,0
23,20:00:00,10,12,0,0,0,0,0,0,0,0,0,0,0
24,21:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0
25,22:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0
26,23:00:00,0,4,0,0,0,0,0,0,0,0,0,0,0

In [34]:
Ultab = 3 #(T+Uab)
Ultba = 4 #(T+Uba)
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            temp_df['Mov b2a'].iloc[i]  = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])

            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            temp_df['Mov a2b'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
             
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            temp_df['Mov a2b'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            temp_df['Mov b2a'].iloc[i]  = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_90_hr1 = 0
Profit_90_hr1 = sum(Profit)/len(Profit)
Pmean_90_hr1 = 0
Pmean_90_hr1 = Profit[0]
cusa_90_hr1 = sum(cus_sata)/len(cus_sata)
cusb_90_hr1 = sum(cus_satb)/len(cus_satb)
sample_90_hr1 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [35]:
df_mean

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,0,0,0,0,0,0,0,...,0,0,15,3.87287,16,4.0,22,23,9,9
4,01:00:00,2,3,0,0,0,0,0,0,0,...,0,0,6,2.449418,12,3.464102,11,18,6,8
5,02:00:00,4,2,0,0,0,0,0,0,0,...,0,0,12,3.464,8,2.828427,18,13,8,6
6,03:00:00,3,1,0,0,0,0,0,0,0,...,0,0,9,2.999912,4,2.0,14,8,7,4
7,04:00:00,1,2,0,0,0,0,0,0,0,...,0,0,3,1.732,8,2.828427,6,13,4,6
8,05:00:00,1,5,0,0,0,0,0,0,0,...,0,0,3,1.732,20,4.472136,6,28,4,10
9,06:00:00,17,11,0,0,0,0,0,0,0,...,0,0,51,7.141219,44,6.63325,63,55,21,17
10,07:00:00,16,9,0,0,0,0,0,0,0,...,0,0,48,6.928,36,6.0,60,46,20,15
11,08:00:00,20,7,0,0,0,0,0,0,0,...,0,0,60,7.745739,28,5.291503,73,37,23,13
12,09:00:00,18,10,0,0,0,0,0,0,0,...,0,0,54,7.348254,40,6.324555,67,51,22,16
13,10:00:00,16,8,0,0,0,0,0,0,0,...,0,0,48,6.928,32,5.656854,60,42,20,14
14,11:00:00,12,7,0,0,0,0,0,0,0,...,0,0,36,5.999824,28,5.291503,46,37,16,13
15,12:00:00,14,6,0,0,0,0,0,0,0,...,0,0,42,6.480551,24,4.898979,53,33,18,12
16,13:00:00,12,15,0,0,0,0,0,0,0,...,0,0,36,5.999824,60,7.745967,46,73,16,21
17,14:00:00,7,14,0,0,0,0,0,0,0,...,0,0,21,4.582441,56,7.483315,29,69,12,20
18,15:00:00,8,10,0,0,0,0,0,0,0,...,0,0,24,4.898836,40,6.324555,33,51,13,16
19,16:00:00,11,17,0,0,0,0,0,0,0,...,0,0,33,5.744394,68,8.246211,43,82,16,23
20,17:00:00,9,19,0,0,0,0,0,0,0,...,0,0,27,5.196,76,8.717798,36,91,14,24
21,18:00:00,9,19,0,0,0,0,0,0,0,...,0,0,27,5.196,76,8.717798,36,91,14,24
22,19:00:00,10,18,0,0,0,0,0,0,0,...,0,0,30,5.477065,72,8.485281,39,86,15,24
23,20:00:00,7,9,0,0,0,0,0,0,0,...,0,0,21,4.582441,36,6.0,29,46,12,15
24,21:00:00,3,3,0,0,0,0,0,0,0,...,0,0,9,2.999912,12,3.464102,14,18,7,8
25,22:00:00,6,4,0,0,0,0,0,0,0,...,0,0,18,4.242516,16,4.0,25,23,11,9
26,23:00:00,1,3,0,0,0,0,0,0,0,...,0,0,3,1.732,12,3.464102,6,18,4,8

In [36]:
dataframes_list[0]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,...,Transit B,veh in sys,A2B U_DLTR,A2B Sig_DLTR,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba
0,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
3,00:00:00,5,4,25,30,30,26,0,0,5,...,4,60,15,3.87287,16,4.0,22,23,9,9
4,01:00:00,2,3,23,25,26,23,0,0,2,...,7,60,6,2.449418,12,3.464102,11,18,6,8
5,02:00:00,4,2,19,23,28,26,0,0,4,...,9,60,12,3.464,8,2.828427,18,13,8,6
6,03:00:00,3,1,20,23,28,27,0,0,3,...,6,60,9,2.999912,4,2.0,14,8,7,4
7,04:00:00,1,2,22,23,31,29,0,0,1,...,5,60,3,1.732,8,2.828427,6,13,4,6
8,05:00:00,1,5,23,24,32,27,0,0,1,...,8,60,3,1.732,20,4.472136,6,28,4,10
9,06:00:00,17,11,7,24,28,17,0,0,17,...,18,60,51,7.141219,44,6.63325,63,55,21,17
10,07:00:00,16,9,0,9,18,9,0,0,9,...,25,60,48,6.928,36,6.0,60,46,20,15
11,08:00:00,20,7,0,5,26,19,0,0,5,...,27,60,60,7.745739,28,5.291503,73,37,23,13
12,09:00:00,18,10,0,11,28,18,0,0,11,...,26,60,54,7.348254,40,6.324555,67,51,22,16
13,10:00:00,16,8,0,9,23,15,0,0,9,...,25,60,48,6.928,32,5.656854,60,42,20,14
14,11:00:00,12,7,0,7,26,19,0,0,7,...,25,60,36,5.999824,28,5.291503,46,37,16,13
15,12:00:00,14,6,0,10,28,22,0,0,10,...,21,60,42,6.480551,24,4.898979,53,33,18,12
16,13:00:00,12,15,0,8,29,14,0,0,8,...,28,60,36,5.999824,60,7.745967,46,73,16,21
17,14:00:00,7,14,0,7,24,10,0,0,7,...,35,60,21,4.582441,56,7.483315,29,69,12,20
18,15:00:00,8,10,0,6,18,8,0,0,6,...,39,60,24,4.898836,40,6.324555,33,51,13,16
19,16:00:00,11,17,4,15,15,0,0,0,11,...,39,60,33,5.744394,68,8.246211,43,82,16,23
20,17:00:00,9,19,9,18,6,0,0,0,9,...,31,60,27,5.196,76,8.717798,36,91,14,24
21,18:00:00,9,19,10,19,11,0,0,0,9,...,32,60,27,5.196,76,8.717798,36,91,14,24
22,19:00:00,10,18,15,25,9,0,0,0,10,...,26,60,30,5.477065,72,8.485281,39,86,15,24
23,20:00:00,7,9,14,21,9,0,0,0,7,...,29,60,21,4.582441,36,6.0,29,46,12,15
24,21:00:00,3,3,22,25,10,7,0,0,3,...,21,60,9,2.999912,12,3.464102,14,18,7,8
25,22:00:00,6,4,25,31,14,10,0,0,6,...,16,60,18,4.242516,16,4.0,25,23,11,9
26,23:00:00,1,3,33,34,13,10,0,0,1,...,10,60,3,1.732,12,3.464102,6,18,4,8

In [37]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,0,0,2,4,5,60
8,05:00:00,1,3,22,23,35,32,0,0,1,3,1,5,60
9,06:00:00,19,9,3,22,32,23,0,0,19,9,20,14,60
10,07:00:00,14,11,0,5,24,13,0,0,5,11,24,23,60
11,08:00:00,19,6,0,3,32,26,0,0,3,6,8,26,60
12,09:00:00,21,10,0,9,31,21,0,0,9,10,12,27,60
13,10:00:00,15,10,0,11,24,14,0,0,11,10,20,26,60
14,11:00:00,10,8,0,6,23,15,0,0,6,8,17,28,60
15,12:00:00,21,8,0,10,26,18,0,0,10,8,16,26,60
16,13:00:00,17,15,0,10,24,9,0,0,10,15,20,31,60
17,14:00:00,9,11,0,8,19,8,0,0,8,11,18,34,60
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [38]:
merge = pd.merge(dataframes_list[1],df_mean[['Hour','Sab','Sba']])
merge = merge.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Sab', 'Sba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'])                                                 
merge.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Sab,Sba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,6,3,30,24,30,27,22,23,0,0,6,3,6,3,60
10,01:00:00,2,4,24,22,27,23,11,18,0,0,2,4,8,7,60
11,02:00:00,5,3,22,17,29,26,18,13,0,0,5,3,7,10,60
12,03:00:00,4,0,20,16,28,28,14,8,0,0,4,0,9,7,60
13,04:00:00,0,2,20,20,33,31,6,13,0,0,0,2,4,5,60
14,05:00:00,1,3,23,22,35,32,6,28,0,0,1,3,1,5,60
15,06:00:00,19,9,22,3,32,23,63,55,0,0,19,9,20,14,60
16,07:00:00,14,11,5,0,24,13,60,46,0,0,5,11,24,23,60
17,08:00:00,19,6,3,0,32,26,73,37,0,0,3,6,8,26,60
18,09:00:00,21,10,9,0,31,21,67,51,0,0,9,10,12,27,60
19,10:00:00,15,10,11,0,24,14,60,42,0,0,11,10,20,26,60
20,11:00:00,10,8,6,0,23,15,46,37,0,0,6,8,17,28,60
21,12:00:00,21,8,10,0,26,18,53,33,0,0,10,8,16,26,60
22,13:00:00,17,15,10,0,24,9,46,73,0,0,10,15,20,31,60
23,14:00:00,9,11,8,0,19,8,29,69,0,0,8,11,18,34,60
24,15:00:00,13,4,8,0,18,14,33,51,0,0,8,4,16,30,60
25,16:00:00,11,13,15,4,22,9,43,82,0,0,11,13,19,28,60
26,17:00:00,11,22,15,4,17,0,36,91,0,0,11,17,22,34,60
27,18:00:00,7,13,8,1,11,0,36,91,0,0,7,11,18,41,60
28,19:00:00,7,16,14,7,11,0,39,86,0,0,7,11,14,39,60
29,20:00:00,10,12,24,14,7,0,29,46,0,0,10,7,17,29,60
30,21:00:00,4,5,25,21,7,2,14,18,0,0,4,5,14,23,60
31,22:00:00,4,5,32,28,12,7,25,23,0,0,4,5,8,17,60
32,23:00:00,0,4,35,35,11,7,6,18,0,0,0,4,4,14,60

# Average policy 90%confidence and review period - 1 hour

In [39]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)
    
    
Ultab = 3 #(T+Uab)
Ultba = 4 #(T+Uba)
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] =  var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                          
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg90_hr1 = 0
Profit_avg90_hr1 = sum(Profit)/len(Profit)
Pmean_avg90_hr1 = 0
Pmean_avg90_hr1 = Profit[0]
cusa_avg90_hr1 = sum(cus_sata)/len(cus_sata)
cusb_avg90_hr1 = sum(cus_satb)/len(cus_satb)
sample_avg90_hr1 =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [40]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Confidence interval - 95% and review period - 2 hour (S,T) policy

In [41]:

    
Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.96
nbar_s = 1.969
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    ma = dataframes_list[i]['Mov a2b'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_95_hr2 = 0
Profit_95_hr2 = sum(Profit)/len(Profit)
Pmean_95_hr2 = 0
Pmean_95_hr2 = Profit[0]
cusa_95_hr2 = sum(cus_sata)/len(cus_sata)
cusb_95_hr2 = sum(cus_satb)/len(cus_satb)
sample_95_hr2  =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 23              26        0        0       5       3
6                 26              28        0        0       4       0
7                 28              31        0        0       0       2
8                 31              32        0        0       1       3
9                 32              23        0        0      19       9
10                23              13        0        0       5      11
11                13              26        0        0       3       6
12                26              21        0        0       9      10
13                21              14        0        0      11      10
14                14              15        0        0       6       8
15                15              18        0        0      10       8
16                18               9        0        0      10      15
17                 9               8        0        0       8      11
18                 8              14        0        0       8       4
19                14               9        0        0      11      13
20                 9               0        0        0      11      17
21                 0               0        0        0       7      11
22                 0               0        0        0       7      11
23                 0               0        0        0      10       7
24                 0               2        0        0       4       5
25                 2               7        0        0       4       5
26                 7               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

# Average policy 95%confidence and review period - 2 hour

In [42]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)
    
Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.96
nbar_s = 1.969
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
cus_sata = []
cus_satb = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    ma = dataframes_list[i]['Mov a2b'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(dataframes_list[1])
print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg95_hr2 = 0
Profit_avg95_hr2 = sum(Profit)/len(Profit)
Pmean_avg95_hr2 = 0
Pmeanavg95_hr2 = Profit[0]
cusa_avg95_hr2 = sum(cus_sata)/len(cus_sata)
cusb_avg95_hr2 = sum(cus_satb)/len(cus_satb)
sample_avg95_hr2  =  Profit[1]

1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
0          0              0              0              30                 0
1          0              0              0              30                 0
2          0              0              0              30                 0
3   00:00:00              6              3              24                30
4   01:00:00              2              4              22                24
5   02:00:00              5              3              17                22
6   03:00:00              4              0              16                20
7   04:00:00              0              2              20                20
8   05:00:00              1              3              22                23
9   06:00:00             19              9               3                22
10  07:00:00             14             11               0                 5
11  08:00:00             19              6               0                 3
12  09:00:00             21             10               0                 9
13  10:00:00             15             10               0                11
14  11:00:00             10              8               0                 6
15  12:00:00             21              8               0                10
16  13:00:00             17             15               0                10
17  14:00:00              9             11               0                 8
18  15:00:00             13              4               0                 8
19  16:00:00             11             13               4                15
20  17:00:00             11             22               4                15
21  18:00:00              7             13               1                 8
22  19:00:00              7             16               7                14
23  20:00:00             10             12              14                24
24  21:00:00              4              5              21                25
25  22:00:00              4              5              28                32
26  23:00:00              0              4              35                35

1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
0                  0              30        0        0       0       0
1                  0              30        0        0       0       0
2                  0              30        0        0       0       0
3                 30              27        0        0       6       3
4                 27              23        0        0       2       4
5                 29              26        0        0       5       3
6                 28              28        0        0       4       0
7                 33              31        0        0       0       2
8                 35              32        0        0       1       3
9                 32              23        0        0      19       9
10                24              13        0        0       5      11
11                32              26        0        0       3       6
12                31              21        0        0       9      10
13                24              14        0        0      11      10
14                23              15        0        0       6       8
15                26              18        0        0      10       8
16                24               9        0        0      10      15
17                19               8        0        0       8      11
18                18              14        0        0       8       4
19                22               9        0        0      11      13
20                17               0        0        0      11      17
21                11               0        0        0       7      11
22                11               0        0        0       7      11
23                 7               0        0        0      10       7
24                 7               2        0        0       4       5
25                12               7        0        0       4       5
26                11               7        0        0       0       4

1   Transit A  Transit B  veh in sys
0           0          0           0
1           0          0           0
2           0          0           0
3           6          3          60
4           8          7          60
5           7         10          60
6           9          7          60
7           4          5          60
8           1          5          60
9          20         14          60
10         24         23          60
11          8         26          60
12         12         27          60
13         20         26          60
14         17         28          60
15         16         26          60
16         20         31          60
17         18         34          60
18         16         30          60
19         19         28          60
20         22         34          60
21         18         41          60
22         14         39          60
23         17         29          60
24         14         23          60
25          8         17          60
26          4         14          60
16775.0
[17020, 17260, 15390, 17430]

In [43]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Confidence interval - 80% and review period - 1 hour (S,T) policy

In [44]:

    
    
Ultab = 3 #(T+Uab)
Ultba = 4 #(T+Uba)
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.28
nbar_s = 1.327
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
                                                                                                                         
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
cus_sata = []
cus_satb = []
custB = [] 
Profit = []
MovA = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_80_hr1 = 0
Profit_80_hr1 = sum(Profit)/len(Profit)
Pmean_80_hr1 = 0
Pmean_80_hr1 = Profit[0]
cusa_80_hr1 = sum(cus_sata)/len(cus_sata)
cusb_80_hr1 = sum(cus_satb)/len(cus_satb)
sample_80_hr1  =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [45]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Average policy 80%confidence and review period - 1 hour

In [46]:

    
Ultab = 3 #(T+Uab)
Ultba = 4 #(T+Uba)
sigABltr = 1.732 #sqrt(Uab+t)
sigBAltr = 2 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.28
nbar_s = 1.327
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
cus_sata = []
cus_satb = []
custB = [] 
Profit = []
MovA = []
MovB = [] 
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg80_hr1 = 0
Profit_avg80_hr1 = sum(Profit)/len(Profit)
Pmean_avg80_hr1 = 0
Pmean_avg80_hr1 = Profit[0]
cusa_avg80_hr1 = sum(cus_sata)/len(cus_sata)
cusb_avg80_hr1 = sum(cus_satb)/len(cus_satb)
sample_avg80_hr1  =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [47]:
merge = pd.merge(dataframes_list[1],df_mean[['Hour','Avg inv ab','Avg inv ba']])
merge = merge.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Avg inv ab', 'Avg inv ba', 'Mov a2b',
       'Mov b2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'])                                                 
merge.iloc[9:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Avg inv ab,Avg inv ba,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
9,00:00:00,6,3,30,24,30,27,8,8,0,0,6,3,6,3,60
10,01:00:00,2,4,24,22,27,23,5,7,0,0,2,4,8,7,60
11,02:00:00,5,3,22,17,29,26,7,5,0,0,5,3,7,10,60
12,03:00:00,4,0,20,16,28,28,6,4,0,0,4,0,9,7,60
13,04:00:00,0,2,20,20,33,31,3,5,0,0,0,2,4,5,60
14,05:00:00,1,3,23,22,35,32,3,9,0,0,1,3,1,5,60
15,06:00:00,19,9,22,3,32,23,18,15,0,0,19,9,20,14,60
16,07:00:00,14,11,5,0,24,13,18,13,0,0,5,11,24,23,60
17,08:00:00,19,6,3,0,32,26,21,11,0,0,3,6,8,26,60
18,09:00:00,21,10,9,0,31,21,19,14,0,0,9,10,12,27,60
19,10:00:00,15,10,11,0,24,14,18,12,0,0,11,10,20,26,60
20,11:00:00,10,8,6,0,23,15,14,11,0,0,6,8,17,28,60
21,12:00:00,21,8,10,0,26,18,16,10,0,0,10,8,16,26,60
22,13:00:00,17,15,10,0,24,9,14,18,0,0,10,15,20,31,60
23,14:00:00,9,11,8,0,19,8,10,17,0,0,8,11,18,34,60
24,15:00:00,13,4,8,0,18,14,11,14,0,0,8,4,16,30,60
25,16:00:00,11,13,15,4,22,9,14,20,0,0,11,13,19,28,60
26,17:00:00,11,22,15,4,17,0,12,22,0,0,11,17,22,34,60
27,18:00:00,7,13,8,1,11,0,12,22,0,0,7,11,18,41,60
28,19:00:00,7,16,14,7,11,0,13,21,0,0,7,11,14,39,60
29,20:00:00,10,12,24,14,7,0,10,13,0,0,10,7,17,29,60
30,21:00:00,4,5,25,21,7,2,6,7,0,0,4,5,14,23,60
31,22:00:00,4,5,32,28,12,7,9,8,0,0,4,5,8,17,60
32,23:00:00,0,4,35,35,11,7,3,7,0,0,0,4,4,14,60

In [48]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,31,0,0,0,2,4,5,60
8,05:00:00,1,3,22,23,35,32,0,0,1,3,1,5,60
9,06:00:00,19,9,3,22,32,23,0,0,19,9,20,14,60
10,07:00:00,14,11,0,5,24,13,0,0,5,11,24,23,60
11,08:00:00,19,6,0,3,32,26,0,0,3,6,8,26,60
12,09:00:00,21,10,0,9,31,21,0,0,9,10,12,27,60
13,10:00:00,15,10,0,11,24,14,0,0,11,10,20,26,60
14,11:00:00,10,8,0,6,23,15,0,0,6,8,17,28,60
15,12:00:00,21,8,0,10,26,18,0,0,10,8,16,26,60
16,13:00:00,17,15,0,10,24,9,0,0,10,15,20,31,60
17,14:00:00,9,11,0,8,19,8,0,0,8,11,18,34,60
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [49]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Confidence interval - 80% and review period - 2 hour (S,T) policy

In [50]:
Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.28
nbar_s = 1.327
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
                                                                                                                           
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
MovB = []
cus_sata = []
cus_satb = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_80_hr2 = 0
Profit_80_hr2 = sum(Profit)/len(Profit)
Pmean_80_hr2 = 0
Pmean_80_hr2 = Profit[0]
cusa_80_hr2 = sum(cus_sata)/len(cus_sata)
cusb_80_hr2 = sum(cus_satb)/len(cus_satb)
sample_80_hr2 =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [51]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Average policy 80%confidence and review period - 2 hour

In [52]:
   
Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.28
nbar_s = 1.327
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

Ultab = 4 #(T+Uab)
Ultba = 5 #(T+Uba)
sigABltr = 2 #sqrt(Uab+t)
sigBAltr = 2.236 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.28
nbar_s = 1.327
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

#%%time

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = max(0,var)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = max(0,var2)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
MovB = []
cus_sata = []
cus_satb = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg80_hr2 = 0
Profit_avg80_hr2 = sum(Profit)/len(Profit)
Pmean_avg80_hr2 = 0
Pmean_avg80_hr2 = Profit[0]
cusa_avg80_hr2 = sum(cus_sata)/len(cus_sata)
cusb_avg80_hr2 = sum(cus_satb)/len(cus_satb)
sample_avg80_hr2 =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [53]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Confidence interval - 90% and review period - 3 hour (S,T) policy

In [54]:
Ultab = 5 #(T+Uab)
Ultba = 6 #(T+Uba)
sigABltr = 2.236 #sqrt(Uab+t)
sigBAltr = 2.449 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0


for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
              
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Sab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Sab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = var2
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Sba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Sba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = var
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                      
                                                                                                                       
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
MovB = [] 
cus_sata = []
cus_satb = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_90_hr3 = 0
Profit_90_hr3 = sum(Profit)/len(Profit)
Pmean_90_hr3 = 0
Pmean_90_hr3 = Profit[0]
cusa_90_hr3 = sum(cus_sata)/len(cus_sata)
cusb_90_hr3 = sum(cus_satb)/len(cus_satb)
sample_90_hr3  =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [55]:
dataframes_list

[1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
 0          0              0              0              30                 0
 1          0              0              0              30                 0
 2          0              0              0              30                 0
 3   00:00:00              5              4              25                30
 4   01:00:00              2              3              23                25
 5   02:00:00              4              2              19                23
 6   03:00:00              3              1              20                23
 7   04:00:00              1              2              22                23
 8   05:00:00              1              5              23                24
 9   06:00:00             17             11               7                24
 10  07:00:00             16              9               0                 9
 11  08:00:00             20              7               0                 5
 12  09:00:00             18             10               0                11
 13  10:00:00             16              8               0                 9
 14  11:00:00             12              7               0                 7
 15  12:00:00             14              6               0                10
 16  13:00:00             12             15               0                 8
 17  14:00:00              7             14               0                 7
 18  15:00:00              8             10               0                 6
 19  16:00:00             11             17               4                15
 20  17:00:00              9             19               9                18
 21  18:00:00              9             19              10                19
 22  19:00:00             10             18              15                25
 23  20:00:00              7              9              14                21
 24  21:00:00              3              3              22                25
 25  22:00:00              6              4              25                31
 26  23:00:00              1              3              33                34

 1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  ...  \
 0                  0              30        0        0       0  ...
 1                  0              30        0        0       0  ...
 2                  0              30        0        0       0  ...
 3                 30              26        0        0       5  ...
 4                 26              23        0        0       2  ...
 5                 28              26        0        0       4  ...
 6                 28              27        0        0       3  ...
 7                 31              29        0        0       1  ...
 8                 32              27        0        0       1  ...
 9                 28              17        0        0      17  ...
 10                18               9        0        0       9  ...
 11                26              19        0        0       5  ...
 12                28              18        0        0      11  ...
 13                23              15        0        0       9  ...
 14                26              19        0        0       7  ...
 15                28              22        0        0      10  ...
 16                29              14        0        0       8  ...
 17                24              10        0        0       7  ...
 18                18               8        0        0       6  ...
 19                15               0        0        0      11  ...
 20                 6               0        0        0       9  ...
 21                11               0        0        0       9  ...
 22                 9               0        0        0      10  ...
 23                 9               0        0        0       7  ...
 24                10               7        0        0       3  ...
 25                14              10        0        0       6  ...
 26                13              10        0        0       1  ...

 1   Transit B  veh in sys  A2B U_DLTR  A2B Sig_DLTR B2A U_DLTR B2A Sig_DLTR  \
 0           0           0           0           0.0          0          0.0
 1           0           0           0           0.0          0          0.0
 2           0           0           0           0.0          0          0.0
 3           4          60          25      4.999848         24        4.898
 4           7          60          10      3.162182         18     4.241792
 5           9          60          20         4.472         12     3.463409
 6           6          60          15      3.872866          6        2.449
 7           5          60           5         2.236         12     3.463409
 8           8          60           5         2.236         30      5.47613
 9          18          60          85      9.219264         66     8.122414
 10         25          60          80         8.944         54        7.347
 11         27          60         100      9.999696         42     6.479445
 12         26          60          90      9.486545         60     7.744418
 13         25          60          80         8.944         48     6.926818
 14         25          60          60      7.745731         42     6.479445
 15         21          60          70      8.366346         36       5.9988
 16         28          60          60      7.745731         90     9.484936
 17         35          60          35        5.9159         84     9.163319
 18         39          60          40      6.324363         60     7.744418
 19         39          60          55      7.415973        102    10.097486
 20         31          60          45         6.708        114    10.674944
 21         32          60          45         6.708        114    10.674944
 22         26          60          50      7.070853        108    10.390227
 23         29          60          35        5.9159         54        7.347
 24         21          60          15      3.872866         18     4.241792
 25         16          60          30      5.477059         24        4.898
 26         10          60           5         2.236         18     4.241792

 1   Sab  Sba Avg inv ab Avg inv ba
 0     0    0          0          0
 1     0    0          0          0
 2     0    0          0          0
 3    34   33         11         11
 4    16   25          7          9
 5    28   18         10          7
 6    22   11          8          5
 7     9   18          5          7
 8     9   39          5         12
 9   101   80         24         19
 10   95   67         23         17
 11  117   53         27         15
 12  106   73         25         18
 13   95   60         23         16
 14   73   53         19         15
 15   84   46         21         13
 16   73  106         19         24
 17   45  100         14         23
 18   51   73         15         18
 19   68  119         18         26
 20   57  132         16         28
 21   57  132         16         28
 22   62  126         17         27
 23   45   67         14         17
 24   22   25          8          9
 25   39   33         13         11
 26    9   25          5          9

 [27 rows x 22 columns],
 1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
 0          0              0              0              30                 0
 1          0              0              0              30                 0
 2          0              0              0              30                 0
 3   00:00:00              6              3              24                30
 4   01:00:00              2              4              22                24
 5   02:00:00              5              3              17                22
 6   03:00:00              4              0              16                20
 7   04:00:00              0              2              20                20
 8   05:00:00              1              3              22                23
 9   06:00:00             19              9               3                22
 10  07:00:00             14             11               0                 5
 11  08:00:00             19              6               0                 3
 12  09:00:00             21             10               0                 9
 13  10:00:00             15             10               0                11
 14  11:00:00             10              8               0                 6
 15  12:00:00             21              8               0                10
 16  13:00:00             17             15               0                10
 17  14:00:00              9             11               0                 8
 18  15:00:00             13              4               0                 8
 19  16:00:00             11             13               4                15
 20  17:00:00             11             22               4                15
 21  18:00:00              7             13               1                 8
 22  19:00:00              7             16               7                14
 23  20:00:00             10             12              14                24
 24  21:00:00              4              5              21                25
 25  22:00:00              4              5              28                32
 26  23:00:00              0              4              35                35

 1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
 0                  0              30        0        0       0       0
 1                  0              30        0        0       0       0
 2                  0              30        0        0       0       0
 3                 30              27        0        0       6       3
 4                 27              23        0        0       2       4
 5                 29              26        0        0       5       3
 6                 28              28        0        0       4       0
 7                 33              31        0        0       0       2
 8                 35              32        0        0       1       3
 9                 32              23        0        0      19       9
 10                24              13        0        0       5      11
 11                32              26        0        0       3       6
 12                31              21        0        0       9      10
 13                24              14        0        0      11      10
 14                23              15        0        0       6       8
 15                26              18        0        0      10       8
 16                24               9        0        0      10      15
 17                19               8        0        0       8      11
 18                18              14        0        0       8       4
 19                22               9        0        0      11      13
 20                17               0        0        0      11      17
 21                11               0        0        0       7      11
 22                11               0        0        0       7      11
 23                 7               0        0        0      10       7
 24                 7               2        0        0       4       5
 25                12               7        0        0       4       5
 26                11               7        0        0       0       4

 1   Transit A  Transit B  veh in sys
 0           0          0           0
 1           0          0           0
 2           0          0           0
 3           6          3          60
 4           8          7          60
 5           7         10          60
 6           9          7          60
 7           4          5          60
 8           1          5          60
 9          20         14          60
 10         24         23          60
 11          8         26          60
 12         12         27          60
 13         20         26          60
 14         17         28          60
 15         16         26          60
 16         20         31          60
 17         18         34          60
 18         16         30          60
 19         19         28          60
 20         22         34          60
 21         18         41          60
 22         14         39          60
 23         17         29          60
 24         14         23          60
 25          8         17          60
 26          4         14          60  ,
 1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
 0          0              0              0              30                 0
 1          0              0              0              30                 0
 2          0              0              0              30                 0
 3   00:00:00              2              6              28                30
 4   01:00:00              0              4              28                28
 5   02:00:00              6              4              22                28
 6   03:00:00              5              0              23                28
 7   04:00:00              2              0              25                27
 8   05:00:00              1              2              28                29
 9   06:00:00              9              6              19                28
 10  07:00:00             19              7               0                19
 11  08:00:00             21              4               0                 2
 12  09:00:00             15             11               0                 6
 13  10:00:00             14              7               0                 7
 14  11:00:00              9              7               0                 4
 15  12:00:00             15              7               0                11
 16  13:00:00             14             20               0                 7
 17  14:00:00              5             18               2                 7
 18  15:00:00             10              8               0                 9
 19  16:00:00             15             12               5                20
 20  17:00:00             10             24              13                23
 21  18:00:00              8             19              13                21
 22  19:00:00              7             14              11                18
 23  20:00:00              4             13              16                20
 24  21:00:00              3              2              28                31
 25  22:00:00              9              1              29                38
 26  23:00:00              0              6              37                37

 1   Avail B starting  Avail B ending  Mov a2b  Mov b2a  cust a  cust b  \
 0                  0              30        0        0       0       0
 1                  0              30        0        0       0       0
 2                  0              30        0        0       0       0
 3                 30              24        0        0       2       6
 4                 24              20        0        0       0       4
 5                 22              18        0        0       6       4
 6                 18              18        0        0       5       0
 7                 24              24        0        0       2       0
 8                 29              27        0        0       1       2
 9                 29              23        0        0       9       6
 10                24              17        0        0      19       7
 11                26              22        0        0       2       4
 12                41              30        0        0       6      11
 13                32              25        0        0       7       7
 14                31              24        0        0       4       7
 15                31              24        0        0      11       7
 16                28               8        0        0       7      20
 17                19               1        0        0       5      18
 18                 8               0        0        0       9       8
 19                 5               0        0        0      15       5
 20                 9               0        0        0      10       9
 21                15               0        0        0       8      15
 22                10               0        0        0       7      10
 23                 8               0        0        0       4       8
 24                 7               5        0        0       3       2
 25                 9               8        0        0       9       1
 26                11               5        0        0       0       6

 1   Transit A  Transit B  veh in sys
 0           0          0           0
 1           0          0           0
 2           0          0           0
 3           2          6          60
 4           2         10          60
 5           6         14          60
 6          11          8          60
 7           7          4          60
 8           3          2          60
 9          10          8          60
 10         28         15          60
 11         21         17          60
 12          8         22          60
 13         13         22          60
 14         11         25          60
 15         15         21          60
 16         18         34          60
 17         12         45          60
 18         14         46          60
 19         24         31          60
 20         25         22          60
 21         18         29          60
 22         15         34          60
 23         11         33          60
 24          7         20          60
 25         12         11          60
 26          9          9          60  ,
 1       Hour Station A to B Station B to A  Avail A ending  Avail A starting  \
 0          0              0              0              30                 0
 1          0              0              0              30                 0
 2          0              0              0              30                 0
 3   00:00:00              4              4              26                30
 4   01:00:00              2              2              24                26
 5   02:00:00              2              0              22                24
 6   03:00:00              3              0              23                26
 7   04:00:00              1              2              24                25
 8   05:00:00              0              8              24                24
 9   06:00:00             14             15              10                24
 10  07:00:00             13              5               0                12
 11  08:00:00             16              5               0                 8
 12  09:00:00             24             12               0                15
 13  10:00:00             18              9               0                 5
 14  11:00:00             17              9               0                 5
 15  12:00:00             14              3               0                12
 16  13:00:00             11             16               0                 9
 17  14:00:00             15             10               0                 9
 18  15:00:00              9              6               0                 3
 19  16:00:00             12             13               4                16
 20  17:00:00              8             13               6                14
 21  18:00:00              9             25               3                12
 22  19:00:00             10             17               6                16
 23  20:00:00             11             11               8                19
 24  21:00:00              4              2              18                22
 25  22:00:00              1              6              25                26

In [56]:
for i in range(len(dataframes_list)):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Mov a2b'] = 0
    temp_df['Mov b2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    temp_df = temp_df.rename(columns={np.nan:'Hour'})
    dataframes_list[i] = temp_df.copy(deep=True)

# Average policy 90%confidence and review period - 3 hour

In [57]:

    
Ultab = 5 #(T+Uab)
Ultba = 6 #(T+Uba)
sigABltr = 2.236 #sqrt(Uab+t)
sigBAltr = 2.449 #sqrt(3+1)
df_mean = dataframes_list[0] 
df_mean['A2B U_DLTR'] = df_mean['Station A to B']*Ultab
df_mean['A2B Sig_DLTR'] = df_mean['Station A to B'].pow(1./2)*sigABltr 
df_mean['B2A U_DLTR'] = df_mean['Station B to A']*Ultba 
df_mean['B2A Sig_DLTR'] = df_mean['Station B to A'].pow(1./2)*sigBAltr
za = 1.64
nbar_s = 1.661
df_mean['Sab'] = df_mean['A2B U_DLTR']+(za*df_mean['A2B Sig_DLTR']) 
df_mean['Sba'] = df_mean['B2A U_DLTR']+(za*df_mean['B2A Sig_DLTR']) 
df_mean['Avg inv ab'] = df_mean['Station A to B'].div(2)+(nbar_s*df_mean['A2B Sig_DLTR'])
df_mean['Avg inv ba'] = df_mean['Station B to A'].div(2)+(nbar_s*df_mean['B2A Sig_DLTR'])
df_mean['Avg inv ab'] = df_mean['Avg inv ab'].apply(np.ceil)
df_mean['Avg inv ba'] = df_mean['Avg inv ba'].apply(np.ceil)
df_mean['Sab'] = df_mean['Sab'].apply(np.ceil)
df_mean['Sba'] = df_mean['Sba'].apply(np.ceil)
df_mean['Mov a2b'] = 0
df_mean['Mov b2a'] = 0
df_mean['Transit A'] = 0
df_mean['Transit B'] = 0

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        var=0
        var2=0
        if  (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]) and (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = max(0,var)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = max(0,var2)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                
        elif (temp_df['Avail A starting'].iloc[i]> df_mean['Avg inv ab'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var2 = 0
            var2 = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]-df_mean['Avg inv ab'].iloc[i]+temp_df['Mov b2a'].iloc[i-3]+temp_df['cust b'].iloc[i-3])
            temp_df['Mov a2b'].iloc[i] = max(0,var2)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

        elif (temp_df['Avail B starting'].iloc[i]>df_mean['Avg inv ba'].iloc[i]):
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            var = 0
            var = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]-df_mean['Avg inv ba'].iloc[i]+ temp_df['Mov a2b'].iloc[i-2]+temp_df['cust a'].iloc[i-2])
            temp_df['Mov b2a'].iloc[i] = max(0,var)
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]
                                                                                                                
        else:
            temp_df['cust a'].iloc[i] = min(temp_df['Station A to B'].iloc[i],max(0,temp_df['Avail A ending'].iloc[i-1])+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3])
            temp_df['cust b'].iloc[i] = min(temp_df['Station B to A'].iloc[i],max(0,temp_df['Avail B ending'].iloc[i-1])+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2])
            temp_df['Avail A ending'].iloc[i] = max(0,temp_df['Avail A ending'].iloc[i-1]-temp_df['cust a'].iloc[i]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]-temp_df['Mov a2b'].iloc[i])  
            temp_df['Avail B ending'].iloc[i] = max(0,temp_df['Avail B ending'].iloc[i-1]-temp_df['cust b'].iloc[i]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]-temp_df['Mov b2a'].iloc[i])  
            temp_df['Avail A starting'].iloc[i] = temp_df['Avail A ending'].iloc[i-1]+temp_df['cust b'].iloc[i-3]+temp_df['Mov b2a'].iloc[i-3]
            temp_df['Avail B starting'].iloc[i] = temp_df['Avail B ending'].iloc[i-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov a2b'].iloc[i-2]
            temp_df['Transit A'].iloc[i] = temp_df['cust a'].iloc[i] + temp_df['cust a'].iloc[i-1]+temp_df['Mov a2b'].iloc[i]+temp_df['Mov a2b'].iloc[i-1]
            temp_df['Transit B'].iloc[i] = temp_df['cust b'].iloc[i] + temp_df['cust b'].iloc[i-1]+ temp_df['cust b'].iloc[i-2]+temp_df['Mov b2a'].iloc[i]+temp_df['Mov b2a'].iloc[i-1]+temp_df['Mov b2a'].iloc[i-2]

    dataframes_list[k] = temp_df.copy(deep=True)

for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)   

custA = []
custB = [] 
Profit = []
MovA = []
MovB = [] 
cus_sata = []
cus_satb = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov a2b'].sum()
    mb = dataframes_list[i]['Mov b2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)

print(sum(Profit)/len(Profit))
print(Profit)
Profit_avg90_hr3 = 0
Profit_avg90_hr3 = sum(Profit)/len(Profit)
Pmean_avg90_hr3 = 0
Pmean_avg90_hr3 = Profit[0]
cusa_avg90_hr3 = sum(cus_sata)/len(cus_sata)
cusb_avg90_hr3 = sum(cus_satb)/len(cus_satb)
sample_avg90_hr3  =  Profit[1]

16775.0
[17020, 17260, 15390, 17430]

In [58]:
temp_df

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,4,4,26,30,30,26,0,0,4,4,4,4,60
4,01:00:00,2,2,24,26,26,24,0,0,2,2,6,6,60
5,02:00:00,2,0,22,24,28,28,0,0,2,0,4,6,60
6,03:00:00,3,0,23,26,30,30,0,0,3,0,5,2,60
7,04:00:00,1,2,24,25,32,30,0,0,1,2,4,2,60
8,05:00:00,0,8,24,24,33,25,0,0,0,8,1,10,60
9,06:00:00,14,15,10,24,26,11,0,0,14,15,14,25,60
10,07:00:00,13,5,0,12,11,6,0,0,12,5,26,28,60
11,08:00:00,16,5,0,8,20,15,0,0,8,5,20,25,60
12,09:00:00,24,12,0,15,27,15,0,0,15,12,23,22,60
13,10:00:00,18,9,0,5,23,14,0,0,5,9,20,26,60
14,11:00:00,17,9,0,5,29,20,0,0,5,9,10,30,60
15,12:00:00,14,3,0,12,25,22,0,0,12,3,17,21,60
16,13:00:00,11,16,0,9,27,11,0,0,9,16,21,28,60
17,14:00:00,15,10,0,9,23,13,0,0,9,10,18,29,60
18,15:00:00,9,6,0,3,22,16,0,0,3,6,12,32,60
19,16:00:00,12,13,4,16,25,12,0,0,12,13,15,29,60
20,17:00:00,8,13,6,14,15,2,0,0,8,13,20,32,60
21,18:00:00,9,25,3,12,14,0,0,0,9,14,17,40,60
22,19:00:00,10,17,6,16,8,0,0,0,10,8,19,35,60
23,20:00:00,11,11,8,19,9,0,0,0,11,9,21,31,60
24,21:00:00,4,2,18,22,10,8,0,0,4,2,15,19,60
25,22:00:00,1,6,25,26,19,13,0,0,1,6,5,17,60
26,23:00:00,1,6,33,34,17,11,0,0,1,6,2,14,60

In [59]:
temp_df

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0
3,00:00:00,4,4,26,30,30,26,0,0,4,4,4,4,60
4,01:00:00,2,2,24,26,26,24,0,0,2,2,6,6,60
5,02:00:00,2,0,22,24,28,28,0,0,2,0,4,6,60
6,03:00:00,3,0,23,26,30,30,0,0,3,0,5,2,60
7,04:00:00,1,2,24,25,32,30,0,0,1,2,4,2,60
8,05:00:00,0,8,24,24,33,25,0,0,0,8,1,10,60
9,06:00:00,14,15,10,24,26,11,0,0,14,15,14,25,60
10,07:00:00,13,5,0,12,11,6,0,0,12,5,26,28,60
11,08:00:00,16,5,0,8,20,15,0,0,8,5,20,25,60
12,09:00:00,24,12,0,15,27,15,0,0,15,12,23,22,60
13,10:00:00,18,9,0,5,23,14,0,0,5,9,20,26,60
14,11:00:00,17,9,0,5,29,20,0,0,5,9,10,30,60
15,12:00:00,14,3,0,12,25,22,0,0,12,3,17,21,60
16,13:00:00,11,16,0,9,27,11,0,0,9,16,21,28,60
17,14:00:00,15,10,0,9,23,13,0,0,9,10,18,29,60
18,15:00:00,9,6,0,3,22,16,0,0,3,6,12,32,60
19,16:00:00,12,13,4,16,25,12,0,0,12,13,15,29,60
20,17:00:00,8,13,6,14,15,2,0,0,8,13,20,32,60
21,18:00:00,9,25,3,12,14,0,0,0,9,14,17,40,60
22,19:00:00,10,17,6,16,8,0,0,0,10,8,19,35,60
23,20:00:00,11,11,8,19,9,0,0,0,11,9,21,31,60
24,21:00:00,4,2,18,22,10,8,0,0,4,2,15,19,60
25,22:00:00,1,6,25,26,19,13,0,0,1,6,5,17,60
26,23:00:00,1,6,33,34,17,11,0,0,1,6,2,14,60

In [60]:
for i in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[i].copy(deep=True)
    temp_df['Avail A'] = 0
    temp_df['Avail B'] = 0
    temp_df['Avail A'][0:3] = 30
    temp_df['Avail B'][0:3] = 30
    temp_df['Mov A2b'] = 0
    temp_df['Mov B2a'] = 0
    temp_df['cust a'] = 0
    temp_df['cust b'] = 0
    temp_df['Avail A ending'] = 0
    temp_df['Avail A starting'] = 0
    temp_df['Avail B starting'] = 0
    temp_df['Avail B ending'] = 0
    temp_df['Avail A ending'][0:3] = 30
    temp_df['Avail B ending'][0:3] = 30
    temp_df['Transit A'] = 0
    temp_df['Transit B'] = 0
    temp_df['veh in sys'] = 0
    dataframes_list[i] = temp_df.copy(deep=True)
    
    
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys,Avail A,Avail B,Mov A2b,Mov B2a
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
3,00:00:00,6,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,01:00:00,2,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,02:00:00,5,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,03:00:00,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,04:00:00,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,05:00:00,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,06:00:00,19,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,07:00:00,14,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,08:00:00,19,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,09:00:00,21,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,10:00:00,15,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,11:00:00,10,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,12:00:00,21,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,13:00:00,17,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,14:00:00,9,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,15:00:00,13,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,16:00:00,11,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,17:00:00,11,22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,18:00:00,7,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,19:00:00,7,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,20:00:00,10,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,21:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,22:00:00,4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,23:00:00,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Future mean policy

In [61]:
mean_df = dataframes_list[0].copy(deep=True)
mean_df.loc[len(mean_df)] = 0
mean_df.loc[len(mean_df)] = 0
mean_df.loc[len(mean_df)] = 0
mean_df = mean_df.rename(columns={'Mov a2b':'Mov A2b','Mov b2a':'Mov B2a'}).copy(deep=True)

for i in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[i].copy(deep=True)
 
    for j in range(3,27,1):
        if (temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]>mean_df['Station B to A'].iloc[j+1]+mean_df['Station B to A'].iloc[j+2]) and (temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]<mean_df['Station A to B'].iloc[j+1]+mean_df['Station A to B'].iloc[j+2]+mean_df['Station A to B'].iloc[j+3]) and (temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]>mean_df['Station A to B'].iloc[j+1]+mean_df['Station A to B'].iloc[j+2]+mean_df['Station A to B'].iloc[j+3]) and (temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]<mean_df['Station B to A'].iloc[j+1]+mean_df['Station B to A'].iloc[j+2]):
            temp_df['cust a'].iloc[j] = min(max(0,temp_df['Avail A ending'].iloc[j-1])+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3],temp_df['Station A to B'].iloc[j])
            temp_df['cust b'].iloc[j] = min(max(0,temp_df['Avail B ending'].iloc[j-1])+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2],temp_df['Station B to A'].iloc[j]) 
            moveA2B = 0
            moveB2A = 0
            temp_df['Avail A starting'].iloc[j] = temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]
            temp_df['Avail B starting'].iloc[j] = temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]
            temp_df['Mov A2b'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3] +temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]-mean_df['Station A to B'].iloc[j+1] - mean_df['Station A to B'].iloc[j+2] - mean_df['Station A to B'].iloc[j+3])
            temp_df['Mov B2a'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]-mean_df['Station B to A'].iloc[j+1]-mean_df['Station B to A'].iloc[j+2])
            temp_df['Avail A ending'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]-temp_df['cust a'].iloc[j]+temp_df['cust b'].iloc[j-3]-temp_df['Mov A2b'].iloc[j]+temp_df['Mov B2a'].iloc[j-3])
            temp_df['Avail B ending'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]-temp_df['cust b'].iloc[j]+temp_df['cust a'].iloc[j-2]-temp_df['Mov B2a'].iloc[j]+temp_df['Mov A2b'].iloc[j-2])
            temp_df['Transit A'].iloc[j] = temp_df['cust a'].iloc[j] + temp_df['cust a'].iloc[j-1]+temp_df['Mov A2b'].iloc[j]+temp_df['Mov A2b'].iloc[j-1]
            temp_df['Transit B'].iloc[j] = temp_df['cust b'].iloc[j] + temp_df['cust b'].iloc[j-1]+ temp_df['cust b'].iloc[j-2]+temp_df['Mov B2a'].iloc[j]+temp_df['Mov B2a'].iloc[j-1]+temp_df['Mov B2a'].iloc[j-2]
    
        elif (temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]>mean_df['Station A to B'].iloc[j+1]+mean_df['Station A to B'].iloc[j+2]+mean_df['Station A to B'].iloc[j+3]) and (temp_df['Avail B ending'].iloc[j-1]+temp_df['cust b'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]<mean_df['Station B to A'].iloc[j+1]+mean_df['Station B to A'].iloc[j+2]):
            moveA2B = 0
            moveB2A = 0
            temp_df['Avail A starting'].iloc[j] = temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]
            temp_df['Avail B starting'].iloc[j] = temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[i-2]+temp_df['Mov A2b'].iloc[j-2]
            temp_df['cust a'].iloc[j] = min(max(0,temp_df['Avail A ending'].iloc[j-1])+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3],temp_df['Station A to B'].iloc[j])
            temp_df['cust b'].iloc[j] =  min(max(0,temp_df['Avail B ending'].iloc[j-1])+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2],temp_df['Station B to A'].iloc[j]) 
            temp_df['Mov A2b'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3] +temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]-mean_df['Station A to B'].iloc[j+1] - mean_df['Station A to B'].iloc[j+2] - mean_df['Station A to B'].iloc[j+3])
            temp_df['Avail A ending'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]-temp_df['cust a'].iloc[j]+temp_df['cust b'].iloc[j-3]-temp_df['Mov A2b'].iloc[j]+temp_df['Mov B2a'].iloc[j-3])
            temp_df['Avail B ending'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]-temp_df['cust b'].iloc[j]+temp_df['cust a'].iloc[j-2]-temp_df['Mov B2a'].iloc[j]+temp_df['Mov A2b'].iloc[j-2])
            temp_df['Transit A'].iloc[j] = temp_df['cust a'].iloc[j] + temp_df['cust a'].iloc[j-1]+temp_df['Mov A2b'].iloc[j]+temp_df['Mov A2b'].iloc[j-1]
            temp_df['Transit B'].iloc[j] = temp_df['cust b'].iloc[j] + temp_df['cust b'].iloc[j-1]+ temp_df['cust b'].iloc[j-2]+temp_df['Mov B2a'].iloc[j]+temp_df['Mov B2a'].iloc[j-1]+temp_df['Mov B2a'].iloc[j-2]
    
        elif (temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]>mean_df['Station B to A'].iloc[j+1]+mean_df['Station B to A'].iloc[j+2]) and (temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]-temp_df['cust a'].iloc[j]<mean_df['Station A to B'].iloc[j+1]+mean_df['Station A to B'].iloc[j+2]+mean_df['Station A to B'].iloc[j+3]):
            moveA2B = 0
            moveB2A = 0
            temp_df['Avail A starting'].iloc[j] = temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]
            temp_df['Avail B starting'].iloc[j] = temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]
            temp_df['cust a'].iloc[j] = min(max(0,temp_df['Avail A ending'].iloc[j-1])+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3],temp_df['Station A to B'].iloc[j])
            temp_df['cust b'].iloc[j] =  min(max(0,temp_df['Avail B ending'].iloc[j-1])+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2],temp_df['Station B to A'].iloc[j]) 
            temp_df['Mov B2a'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]-temp_df['cust b'].iloc[j]-mean_df['Station B to A'].iloc[j+1]-mean_df['Station B to A'].iloc[j+2])
            temp_df['Avail A ending'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]-temp_df['cust a'].iloc[j]+temp_df['cust b'].iloc[j-3]-temp_df['Mov A2b'].iloc[j]+temp_df['Mov B2a'].iloc[j-3])
            temp_df['Avail B ending'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]-temp_df['cust b'].iloc[j]+temp_df['cust a'].iloc[j-2]-temp_df['Mov B2a'].iloc[j]+temp_df['Mov A2b'].iloc[j-2])
            temp_df['Transit A'].iloc[j] = temp_df['cust a'].iloc[j] + temp_df['cust a'].iloc[j-1]+temp_df['Mov A2b'].iloc[j]+temp_df['Mov A2b'].iloc[j-1]
            temp_df['Transit B'].iloc[j] = temp_df['cust b'].iloc[j] + temp_df['cust b'].iloc[j-1]+ temp_df['cust b'].iloc[j-2]+temp_df['Mov B2a'].iloc[j]+temp_df['Mov B2a'].iloc[j-1]+temp_df['Mov B2a'].iloc[j-2]
      
        else:
            moveA2B = 0
            moveB2A = 0
            temp_df['Avail A starting'].iloc[j] = temp_df['Avail A ending'].iloc[j-1]+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3]
            temp_df['Avail B starting'].iloc[j] = temp_df['Avail B ending'].iloc[j-1]+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2]
            temp_df['cust a'].iloc[j] = min(max(0,temp_df['Avail A ending'].iloc[j-1])+temp_df['cust b'].iloc[j-3]+temp_df['Mov B2a'].iloc[j-3],temp_df['Station A to B'].iloc[j])
            temp_df['cust b'].iloc[j] = min(max(0,temp_df['Avail B ending'].iloc[j-1])+temp_df['cust a'].iloc[j-2]+temp_df['Mov A2b'].iloc[j-2],temp_df['Station B to A'].iloc[j]) 
            temp_df['Mov B2a'].iloc[j] = moveB2A
            temp_df['Mov A2b'].iloc[j] = moveA2B 
            temp_df['Avail A ending'].iloc[j] = max(0,temp_df['Avail A ending'].iloc[j-1]-temp_df['cust a'].iloc[j]+temp_df['cust b'].iloc[j-3]-temp_df['Mov A2b'].iloc[j]+temp_df['Mov B2a'].iloc[j-3])
            temp_df['Avail B ending'].iloc[j] = max(0,temp_df['Avail B ending'].iloc[j-1]-temp_df['cust b'].iloc[j]+temp_df['cust a'].iloc[j-2]-temp_df['Mov B2a'].iloc[j]+temp_df['Mov A2b'].iloc[j-2])
            temp_df['Transit A'].iloc[j] = temp_df['cust a'].iloc[j] + temp_df['cust a'].iloc[j-1]+temp_df['Mov A2b'].iloc[j]+temp_df['Mov A2b'].iloc[j-1]
            temp_df['Transit B'].iloc[j] = temp_df['cust b'].iloc[j] + temp_df['cust b'].iloc[j-1]+ temp_df['cust b'].iloc[j-2]+temp_df['Mov B2a'].iloc[j]+temp_df['Mov B2a'].iloc[j-1]+temp_df['Mov B2a'].iloc[j-2]
    
    dataframes_list[i] = temp_df.copy(deep=True)
    
for k in range(0,len(dataframes_list),1):
    temp_df = dataframes_list[k].copy(deep=True)
    for i in range(3,27,1):
        temp_df['veh in sys'].iloc[i] = temp_df['Avail A ending'].iloc[i]+temp_df['Transit A'].iloc[i]+temp_df['Transit B'].iloc[i]+temp_df['Avail B ending'].iloc[i]    
    
    dataframes_list[k] = temp_df.copy(deep=True)
cus_sata =[]
cus_satb =[]
Profit = []
for i in range(0,len(dataframes_list),1):
    ca = 0
    cb = 0 
    ma = 0
    mb = 0
    profit = 0
    ca = dataframes_list[i]['cust a'].sum()
    cb = dataframes_list[i]['cust b'].sum()
    da=dataframes_list[i]['Station A to B'].sum()
    db=dataframes_list[i]['Station B to A'].sum()
    csa = (ca)*100/(da)
    csb = (cb)*100/(db)
    cus_sata.append(csa)
    cus_satb.append(csb)
    ma = dataframes_list[i]['Mov A2b'].sum()
    mb = dataframes_list[i]['Mov B2a'].sum()
    pa = dataframes_list[i]['Station A to B'].sum()-dataframes_list[i]['cust a'].sum()
    pb = dataframes_list[i]['Station B to A'].sum()-dataframes_list[i]['cust b'].sum()
    profit = ca*60+cb*90-ma*20-mb*30-pa*100-pb*100
    Profit.append(profit)
    
sum(Profit)/len(Profit)
Profit_future1 = 0
Profit_future1 = sum(Profit)/len(Profit)
Pmean_future1 = 0
Pmean_future1 = Profit[0]
cusa_future1 = sum(cus_sata)/len(cus_sata)
cusb_future1 = sum(cus_satb)/len(cus_satb)
sample_future1  =  Profit[1]

In [62]:
sample_future1

18900

In [63]:
mean_df2 = mean_df.rename(columns={'Station A to B':'Mean Station A to B','Station B to A':'Mean Station B to A'}).copy(deep=True)

In [64]:
mean_df2

1,Hour,Mean Station A to B,Mean Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov A2b,Mov B2a,cust a,...,B2A U_DLTR,B2A Sig_DLTR,Sab,Sba,Avg inv ab,Avg inv ba,Avail A,Avail B,Mov A2b,Mov B2a
0,0,0,0,30,0,0,30,0,0,0,...,0,0.0,0,0,0,0,30,30,0,0
1,0,0,0,30,0,0,30,0,0,0,...,0,0.0,0,0,0,0,30,30,0,0
2,0,0,0,30,0,0,30,0,0,0,...,0,0.0,0,0,0,0,30,30,0,0
3,00:00:00,5,4,0,0,0,0,0,0,0,...,24,4.898,34,33,11,11,0,0,0,0
4,01:00:00,2,3,0,0,0,0,0,0,0,...,18,4.241792,16,25,7,9,0,0,0,0
5,02:00:00,4,2,0,0,0,0,0,0,0,...,12,3.463409,28,18,10,7,0,0,0,0
6,03:00:00,3,1,0,0,0,0,0,0,0,...,6,2.449,22,11,8,5,0,0,0,0
7,04:00:00,1,2,0,0,0,0,0,0,0,...,12,3.463409,9,18,5,7,0,0,0,0
8,05:00:00,1,5,0,0,0,0,0,0,0,...,30,5.47613,9,39,5,12,0,0,0,0
9,06:00:00,17,11,0,0,0,0,0,0,0,...,66,8.122414,101,80,24,19,0,0,0,0
10,07:00:00,16,9,0,0,0,0,0,0,0,...,54,7.347,95,67,23,17,0,0,0,0
11,08:00:00,20,7,0,0,0,0,0,0,0,...,42,6.479445,117,53,27,15,0,0,0,0
12,09:00:00,18,10,0,0,0,0,0,0,0,...,60,7.744418,106,73,25,18,0,0,0,0
13,10:00:00,16,8,0,0,0,0,0,0,0,...,48,6.926818,95,60,23,16,0,0,0,0
14,11:00:00,12,7,0,0,0,0,0,0,0,...,42,6.479445,73,53,19,15,0,0,0,0
15,12:00:00,14,6,0,0,0,0,0,0,0,...,36,5.9988,84,46,21,13,0,0,0,0
16,13:00:00,12,15,0,0,0,0,0,0,0,...,90,9.484936,73,106,19,24,0,0,0,0
17,14:00:00,7,14,0,0,0,0,0,0,0,...,84,9.163319,45,100,14,23,0,0,0,0
18,15:00:00,8,10,0,0,0,0,0,0,0,...,60,7.744418,51,73,15,18,0,0,0,0
19,16:00:00,11,17,0,0,0,0,0,0,0,...,102,10.097486,68,119,18,26,0,0,0,0
20,17:00:00,9,19,0,0,0,0,0,0,0,...,114,10.674944,57,132,16,28,0,0,0,0
21,18:00:00,9,19,0,0,0,0,0,0,0,...,114,10.674944,57,132,16,28,0,0,0,0
22,19:00:00,10,18,0,0,0,0,0,0,0,...,108,10.390227,62,126,17,27,0,0,0,0
23,20:00:00,7,9,0,0,0,0,0,0,0,...,54,7.347,45,67,14,17,0,0,0,0
24,21:00:00,3,3,0,0,0,0,0,0,0,...,18,4.241792,22,25,8,9,0,0,0,0
25,22:00:00,6,4,0,0,0,0,0,0,0,...,24,4.898,39,33,13,11,0,0,0,0
26,23:00:00,1,3,0,0,0,0,0,0,0,...,18,4.241792,9,25,5,9,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
tempref = dataframes_list[1].drop(['Mov a2b','Mov b2a'],axis=1)
tempref = tempref.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Mov A2b',
       'Mov B2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'
                                                      ])
tempref

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Mov A2b,Mov B2a,cust a,cust b,Transit A,Transit B,veh in sys
0,0,0,0,0,30,0,30,0,0,0,0,0,0,0
1,0,0,0,0,30,0,30,0,0,0,0,0,0,0
2,0,0,0,0,30,0,30,0,0,0,0,0,0,0
3,00:00:00,6,3,30,24,30,27,0,0,6,3,6,3,60
4,01:00:00,2,4,24,22,27,23,0,0,2,4,8,7,60
5,02:00:00,5,3,22,17,29,26,0,0,5,3,7,10,60
6,03:00:00,4,0,20,16,28,28,0,0,4,0,9,7,60
7,04:00:00,0,2,20,20,33,16,0,15,0,2,4,20,60
8,05:00:00,1,3,23,22,20,17,0,0,1,3,1,20,60
9,06:00:00,19,9,22,3,17,8,0,0,19,9,20,29,60
10,07:00:00,14,11,20,6,9,0,0,0,14,9,33,21,60
11,08:00:00,19,6,9,0,19,13,0,0,9,6,23,24,60
12,09:00:00,21,10,9,0,27,15,0,2,9,10,18,27,60
13,10:00:00,15,10,9,0,24,13,0,1,9,10,18,29,60
14,11:00:00,10,8,6,0,22,14,0,0,6,8,15,31,60
15,12:00:00,21,8,12,0,23,15,0,0,12,8,18,27,60
16,13:00:00,17,15,11,0,21,6,0,0,11,15,23,31,60
17,14:00:00,9,11,8,0,18,7,0,0,8,11,19,34,60
18,15:00:00,13,4,8,0,18,14,0,0,8,4,16,30,60
19,16:00:00,11,13,15,4,22,9,0,0,11,13,19,28,60
20,17:00:00,11,22,15,4,17,0,0,0,11,17,22,34,60
21,18:00:00,7,13,8,1,11,0,0,0,7,11,18,41,60
22,19:00:00,7,16,14,7,11,0,0,0,7,11,14,39,60
23,20:00:00,10,12,24,14,7,0,0,0,10,7,17,29,60
24,21:00:00,4,5,25,21,7,2,0,0,4,5,14,23,60
25,22:00:00,4,5,32,28,12,7,0,0,4,5,8,17,60
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60

In [66]:
mergefuture = pd.DataFrame()
mergefuture = pd.merge(tempref,mean_df2[['Hour','Mean Station A to B','Mean Station B to A']])
mergefuture = mergefuture.reindex(columns=['Hour', 'Station A to B', 'Station B to A', 'Avail A starting',
       'Avail A ending', 'Avail B starting', 'Avail B ending', 'Mean Station A to B', 'Mean Station B to A', 'Mov A2b',
       'Mov B2a', 'cust a', 'cust b', 'Transit A', 'Transit B', 'veh in sys'])
mergefuture.iloc[18:,:]

1,Hour,Station A to B,Station B to A,Avail A starting,Avail A ending,Avail B starting,Avail B ending,Mean Station A to B,Mean Station B to A,Mov A2b,Mov B2a,cust a,cust b,Transit A,Transit B,veh in sys
18,00:00:00,6,3,30,24,30,27,5,4,0,0,6,3,6,3,60
19,01:00:00,2,4,24,22,27,23,2,3,0,0,2,4,8,7,60
20,02:00:00,5,3,22,17,29,26,4,2,0,0,5,3,7,10,60
21,03:00:00,4,0,20,16,28,28,3,1,0,0,4,0,9,7,60
22,04:00:00,0,2,20,20,33,16,1,2,0,15,0,2,4,20,60
23,05:00:00,1,3,23,22,20,17,1,5,0,0,1,3,1,20,60
24,06:00:00,19,9,22,3,17,8,17,11,0,0,19,9,20,29,60
25,07:00:00,14,11,20,6,9,0,16,9,0,0,14,9,33,21,60
26,08:00:00,19,6,9,0,19,13,20,7,0,0,9,6,23,24,60
27,09:00:00,21,10,9,0,27,15,18,10,0,2,9,10,18,27,60
28,10:00:00,15,10,9,0,24,13,16,8,0,1,9,10,18,29,60
29,11:00:00,10,8,6,0,22,14,12,7,0,0,6,8,15,31,60
30,12:00:00,21,8,12,0,23,15,14,6,0,0,12,8,18,27,60
31,13:00:00,17,15,11,0,21,6,12,15,0,0,11,15,23,31,60
32,14:00:00,9,11,8,0,18,7,7,14,0,0,8,11,19,34,60
33,15:00:00,13,4,8,0,18,14,8,10,0,0,8,4,16,30,60
34,16:00:00,11,13,15,4,22,9,11,17,0,0,11,13,19,28,60
35,17:00:00,11,22,15,4,17,0,9,19,0,0,11,17,22,34,60
36,18:00:00,7,13,8,1,11,0,9,19,0,0,7,11,18,41,60
37,19:00:00,7,16,14,7,11,0,10,18,0,0,7,11,14,39,60
38,20:00:00,10,12,24,14,7,0,7,9,0,0,10,7,17,29,60
39,21:00:00,4,5,25,21,7,2,3,3,0,0,4,5,14,23,60
40,22:00:00,4,5,32,28,12,7,6,4,0,0,4,5,8,17,60
41,23:00:00,0,4,35,35,11,7,1,3,0,0,0,4,4,14,60

In [67]:
Profit

[18090, 18900, 17990, 16970]

In [68]:
dataframes_list[1]

1,Hour,Station A to B,Station B to A,Avail A ending,Avail A starting,Avail B starting,Avail B ending,Mov a2b,Mov b2a,cust a,cust b,Transit A,Transit B,veh in sys,Avail A,Avail B,Mov A2b,Mov B2a
0,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
1,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
2,0,0,0,30,0,0,30,0,0,0,0,0,0,0,30,30,0,0
3,00:00:00,6,3,24,30,30,27,0,0,6,3,6,3,60,0,0,0,0
4,01:00:00,2,4,22,24,27,23,0,0,2,4,8,7,60,0,0,0,0
5,02:00:00,5,3,17,22,29,26,0,0,5,3,7,10,60,0,0,0,0
6,03:00:00,4,0,16,20,28,28,0,0,4,0,9,7,60,0,0,0,0
7,04:00:00,0,2,20,20,33,16,0,0,0,2,4,20,60,0,0,0,15
8,05:00:00,1,3,22,23,20,17,0,0,1,3,1,20,60,0,0,0,0
9,06:00:00,19,9,3,22,17,8,0,0,19,9,20,29,60,0,0,0,0
10,07:00:00,14,11,6,20,9,0,0,0,14,9,33,21,60,0,0,0,0
11,08:00:00,19,6,0,9,19,13,0,0,9,6,23,24,60,0,0,0,0
12,09:00:00,21,10,0,9,27,15,0,0,9,10,18,27,60,0,0,0,2
13,10:00:00,15,10,0,9,24,13,0,0,9,10,18,29,60,0,0,0,1
14,11:00:00,10,8,0,6,22,14,0,0,6,8,15,31,60,0,0,0,0
15,12:00:00,21,8,0,12,23,15,0,0,12,8,18,27,60,0,0,0,0
16,13:00:00,17,15,0,11,21,6,0,0,11,15,23,31,60,0,0,0,0
17,14:00:00,9,11,0,8,18,7,0,0,8,11,19,34,60,0,0,0,0
18,15:00:00,13,4,0,8,18,14,0,0,8,4,16,30,60,0,0,0,0
19,16:00:00,11,13,4,15,22,9,0,0,11,13,19,28,60,0,0,0,0
20,17:00:00,11,22,4,15,17,0,0,0,11,17,22,34,60,0,0,0,0
21,18:00:00,7,13,1,8,11,0,0,0,7,11,18,41,60,0,0,0,0
22,19:00:00,7,16,7,14,11,0,0,0,7,11,14,39,60,0,0,0,0
23,20:00:00,10,12,14,24,7,0,0,0,10,7,17,29,60,0,0,0,0
24,21:00:00,4,5,21,25,7,2,0,0,4,5,14,23,60,0,0,0,0
25,22:00:00,4,5,28,32,12,7,0,0,4,5,8,17,60,0,0,0,0
26,23:00:00,0,4,35,35,11,7,0,0,0,4,4,14,60,0,0,0,0

In [69]:
#Profit results:
print("No policy :",Profit_nopol)
print("No policy mean data:",Pmean_nopol)
print("No policy sample data:",sample_nopol)
print("No policy customer satisfied at A :",cusa_nopol)
print("No policy customer satisfied at B:",cusb_nopol)
print("\n80% 1hr:",Profit_80_hr1)
print("mean data 80% 1hr:",Pmean_80_hr1)
print("80% 1hr sample data:",sample_80_hr1)
print("80% 1hr customer satisfied at A:",cusa_80_hr1)
print("80% 1hr customer satisfied at B:",cusb_80_hr1)
print("\n80% avg 1hr:",Profit_avg80_hr1)
print("mean avg data 80% 1hr:",Pmean_avg80_hr1)
print("80% avg 1hr sample data:",sample_avg80_hr1)
print("80% avg 1hr customer satisfied at A:",cusa_avg80_hr1)
print("80% avg 1hr customer satisfied at B:",cusb_avg80_hr1)
print("\n80% 2hr:",Profit_80_hr2)
print("mean data 80% 2hr:",Pmean_80_hr2)
print("80% 2hr sample data:",sample_80_hr2)
print("80% 2hr customer satisfied at A:",cusa_80_hr2)
print("80% 2hr customer satisfied at B:",cusb_80_hr2)
print("\n80% avg 2hr:",Profit_avg80_hr2)
print("mean avg data 80% 2hr:",Pmean_avg80_hr2)
print("80% avg 2hr sample data:",sample_avg80_hr2)
print("80% avg 2hr customer satisfied at A:",cusa_avg80_hr2)
print("80% avg 2hr customer satisfied at B:",cusb_avg80_hr2)
print("\n90% 1hr:",Profit_90_hr1)
print("mean data 90% 1hr:",Pmean_90_hr1)
print("90% 1hr sample data:",sample_90_hr1)
print("90% 1hr customer satisfied at A:",cusa_90_hr1)
print("90% 1hr customer satisfied at B:",cusb_90_hr1)
print("\n90% avg 1hr:",Profit_avg90_hr1)
print("mean avg data 90% 1hr:",Pmean_avg90_hr1)
print("90% avg 1hr sample data:",sample_avg90_hr1)
print("90% avg 1hr customer satisfied at A:",cusa_avg90_hr1)
print("90% avg 1hr customer satisfied at B:",cusb_avg90_hr1)
print("\n90% 2hr:",Profit_90_hr2)
print("mean data 90% 2hr:",Pmean_90_hr2)
print("90% 2hr sample data:",sample_90_hr2)
print("90% 2hr customer satisfied at A:",cusa_90_hr2)
print("90% 2hr customer satisfied at B:",cusb_90_hr2)
print("\n90% avg 2hr:",Profit_avg90_hr2)
print("mean avg data 90% 2hr:",Pmean_avg90_hr2)
print("90% avg 2hr sample data:",sample_avg90_hr2)
print("90% avg 2hr customer satisfied at A:",cusa_avg90_hr2)
print("90% avg 2hr customer satisfied at B:",cusb_avg90_hr2)
print("\n90% 3hr:",Profit_90_hr3)
print("mean data 90% 3hr:",Pmean_90_hr3)
print("90% 3hr sample data:",sample_90_hr3)
print("90% 3hr customer satisfied at A:",cusa_90_hr3)
print("90% 3hr customer satisfied at B:",cusb_90_hr3)
print("\n90% avg 3hr:",Profit_avg90_hr3)
print("mean avg data 90% 3hr:",Pmean_avg90_hr3)
print("90% avg 3hr sample data:",sample_avg90_hr3)
print("90% avg 3hr customer satisfied at A:",cusa_avg90_hr3)
print("90% avg 3hr customer satisfied at B:",cusb_avg90_hr3)
print("\n95% 1hr:",Profit_95_hr1)
print("mean data 95% 1hr:",Pmean_95_hr1)
print("95% 1hr sample data:",sample_95_hr1)
print("95% 1hr customer satisfied at A:",cusa_95_hr1)
print("95% 1hr customer satisfied at B:",cusb_95_hr1)
print("\n95% avg 1hr:",Profit_avg95_hr1)
print("mean avg data 95% 1hr:",Pmean_avg95_hr1)
print("95% avg 1hr sample data:",sample_avg95_hr1)
print("95% avg 1hr customer satisfied at A:",cusa_avg95_hr1)
print("95% avg 1hr customer satisfied at B:",cusb_avg95_hr1)
print("\n95% 2hr:",Profit_95_hr2)
print("mean data 95% 2hr:",Pmean_95_hr2)
print("95% 2hr sample data:",sample_95_hr2)
print("95% 2hr customer satisfied at A:",cusa_95_hr2)
print("95% 2hr customer satisfied at B:",cusb_95_hr2)
print("\n95% avg 2hr:",Profit_avg95_hr2)
print("mean avg data 95% 2hr:",Pmean_avg95_hr2)
print("95% avg 2hr sample data:",sample_avg95_hr2)
print("95% avg 2hr customer satisfied at A:",cusa_avg95_hr2)
print("95% avg 2hr customer satisfied at B:",cusb_avg95_hr2)
print("\nFuture1:",Profit_future1)
print("mean data future 1",Pmean_future1)
print("Future1 sample data:",sample_future1)
print("Future1 customer satisfied at A:",cusa_future1)
print("Future1 customer satisfied at B:",cusb_future1)
print("\nFuture2:",Profit_future2)
print("mean data future 2",Pmean_future2)
print("Future2 sample data:",sample_future2)
print("Future2 customer satisfied at A:",cusa_future2)
print("Future2 customer satisfied at B:",cusb_future2)

No policy : 16775.0
No policy mean data: 17020
No policy sample data: 17260
No policy customer satisfied at A : 73.34674835255267
No policy customer satisfied at B: 86.86364218448334

80% 1hr: 16775.0
mean data 80% 1hr: 17020
80% 1hr sample data: 17260
80% 1hr customer satisfied at A: 73.34674835255267
80% 1hr customer satisfied at B: 86.86364218448334

80% avg 1hr: 16775.0
mean avg data 80% 1hr: 17020
80% avg 1hr sample data: 17260
80% avg 1hr customer satisfied at A: 73.34674835255267
80% avg 1hr customer satisfied at B: 86.86364218448334

80% 2hr: 16775.0
mean data 80% 2hr: 17020
80% 2hr sample data: 17260
80% 2hr customer satisfied at A: 73.34674835255267
80% 2hr customer satisfied at B: 86.86364218448334

80% avg 2hr: 16775.0
mean avg data 80% 2hr: 17020
80% avg 2hr sample data: 17260
80% avg 2hr customer satisfied at A: 73.34674835255267
80% avg 2hr customer satisfied at B: 86.86364218448334

90% 1hr: 16775.0
mean data 90% 1hr: 17020
90% 1hr sample data: 17260
90% 1hr customer satisfied at A: 73.34674835255267
90% 1hr customer satisfied at B: 86.86364218448334

90% avg 1hr: 16775.0
mean avg data 90% 1hr: 17020
90% avg 1hr sample data: 17260
90% avg 1hr customer satisfied at A: 73.34674835255267
90% avg 1hr customer satisfied at B: 86.86364218448334

90% 2hr: 16775.0
mean data 90% 2hr: 17020
90% 2hr sample data: 17260
90% 2hr customer satisfied at A: 73.34674835255267
90% 2hr customer satisfied at B: 86.86364218448334

90% avg 2hr: 16775.0
mean avg data 90% 2hr: 17020
90% avg 2hr sample data: 17260
90% avg 2hr customer satisfied at A: 73.34674835255267
90% avg 2hr customer satisfied at B: 86.86364218448334

90% 3hr: 16775.0
mean data 90% 3hr: 17020
90% 3hr sample data: 17260
90% 3hr customer satisfied at A: 73.34674835255267
90% 3hr customer satisfied at B: 86.86364218448334

90% avg 3hr: 16775.0
mean avg data 90% 3hr: 17020
90% avg 3hr sample data: 17260
90% avg 3hr customer satisfied at A: 73.34674835255267
90% avg 3hr customer satisfied at B: 86.86364218448334

95% 1hr: 16775.0
mean data 95% 1hr: 17020
95% 1hr sample data: 17260
95% 1hr customer satisfied at A: 73.34674835255267
95% 1hr customer satisfied at B: 86.86364218448334

95% avg 1hr: 16775.0
mean avg data 95% 1hr: 17020
95% avg 1hr sample data: 17260
95% avg 1hr customer satisfied at A: 73.34674835255267
95% avg 1hr customer satisfied at B: 86.86364218448334

95% 2hr: 16775.0
mean data 95% 2hr: 17020
95% 2hr sample data: 17260
95% 2hr customer satisfied at A: 73.34674835255267
95% 2hr customer satisfied at B: 86.86364218448334

95% avg 2hr: 16775.0
mean avg data 95% 2hr: 0
95% avg 2hr sample data: 17260
95% avg 2hr customer satisfied at A: 73.34674835255267
95% avg 2hr customer satisfied at B: 86.86364218448334

Future1: 17987.5
mean data future 1 18090
Future1 sample data: 18900
Future1 customer satisfied at A: 80.45935341047122
Future1 customer satisfied at B: 85.11937305905234

NameError: name 'Profit_future2' is not defined